Aqara Nodered.json
[{"id":"e629d6c87e56cb6d","type":"tab","label":"Aqara Cam G3","disabled":false,"info":"","env":[]},{"id":"913e5c9b59439a95","type":"http request","z":"e629d6c87e56cb6d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://rpc-ger.aqara.com/app/v1.0/lumi/res/query","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Sys-Type","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"Appid","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Token","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json; charset=utf-8"}],"x":630,"y":220,"wires":[["40896fecd2a7247e"]]},{"id":"773c99c14ba4562f","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\nmsg.payload = {\n    \"data\": [\n        {\n            \"options\": [\"ptz_cruise_enable\", \"pets_track_enable\", \"humans_track_enable\", \"gesture_detect_enable\", \"mdtrigger_enable\", \"soundtrigger_enable\", \"human_detect_enable\", \"face_detect_enable\", \"pets_detect_enable\", \"set_video\"],\n            \"subjectId\": \"lumi1.XXXXXXXXXXXX\"\n        }\n    ]\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":320,"wires":[["913e5c9b59439a95"]]},{"id":"5a95353a03e1c9ad","type":"ha-sensor","z":"e629d6c87e56cb6d","name":"Camera G3 config","entityConfig":"caa960a76b56a309","version":0,"state":"Camera G3 config","stateType":"str","attributes":[{"property":"mdtrigger_enable","value":"payload.result[0].value","valueType":"msg"},{"property":"face_detect_enable","value":"payload.result[1].value","valueType":"msg"},{"property":"human_detect_enable","value":"payload.result[2].value","valueType":"msg"},{"property":"soundtrigger_enable","value":"payload.result[3].value","valueType":"msg"},{"property":"video active","value":"payload.result[4].value","valueType":"msg"},{"property":"gesture_detect_enable","value":"payload.result[5].value","valueType":"msg"},{"property":"pets_detect_enable","value":"payload.result[6].value","valueType":"msg"},{"property":"pets_track_enable","value":"payload.result[7].value","valueType":"msg"},{"property":"humans_track_enable","value":"payload.result[8].value","valueType":"msg"},{"property":"ptz_cruise_enable","value":"payload.result[9].value","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":1510,"y":280,"wires":[["a8f71b085ce7a812"]]},{"id":"0a80ed2f035d9d6f","type":"http request","z":"e629d6c87e56cb6d","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://rpc-ger.aqara.com/app/v1.0/lumi/app/view/data/query?options=&subjectId=lumi1.XXXXXXXXXXXX&viewId=detail","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Sys-Type","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"Appid","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Token","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json; charset=utf-8"},{"keyType":"other","keyValue":"Userid","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"}],"x":630,"y":540,"wires":[["b528b49027d2952d"]]},{"id":"db95b26148cc4f52","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":540,"wires":[["0a80ed2f035d9d6f"]]},{"id":"6a2058ac22960311","type":"comment","z":"e629d6c87e56cb6d","name":"Replace Appid Token","info":"Replace Appid Token","x":660,"y":180,"wires":[]},{"id":"cdf714f7bb08944c","type":"ha-sensor","z":"e629d6c87e56cb6d","name":"Camera G3 Info","entityConfig":"61fb5dbeecdafb3d","version":0,"state":"Camera G3 Info","stateType":"str","attributes":[{"property":"deviceName","value":"payload.result.data.7.value","valueType":"msg"},{"property":"ip","value":"payload.result.data.45.value.ip","valueType":"msg"},{"property":"mac","value":"payload.result.data.45.value.mac","valueType":"msg"},{"property":"rssi","value":"payload.result.data.45.value.rssi","valueType":"msg"},{"property":"ssid","value":"payload.result.data.45.value.ssid","valueType":"msg"},{"property":"deviceId","value":"payload.result.data.8.value","valueType":"msg"},{"property":"subDeviceCount","value":"payload.result.data.13.value","valueType":"msg"},{"property":"sceneCount","value":"payload.result.data.14.value","valueType":"msg"},{"property":"firmwareVersion","value":"payload.result.data.17.value","valueType":"msg"},{"property":"volume","value":"payload.result.data.22.value","valueType":"msg"},{"property":"SD free ","value":"payload.result.data.67.value.freesize","valueType":"msg"},{"property":"SD size","value":"payload.result.data.67.value.totalsize","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":1100,"y":540,"wires":[[]]},{"id":"b528b49027d2952d","type":"json","z":"e629d6c87e56cb6d","name":"","property":"payload.result.data.45.value","action":"","pretty":true,"x":890,"y":540,"wires":[["068c39a0572d02b0"]]},{"id":"aca44aa21244c32b","type":"ha-button","z":"e629d6c87e56cb6d","name":"Camera G3 Info","version":0,"debugenabled":false,"outputs":1,"entityConfig":"35bd23c22b99e80e","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"str"}],"x":360,"y":480,"wires":[["db95b26148cc4f52"]]},{"id":"3c5b5971973b9f09","type":"ha-button","z":"e629d6c87e56cb6d","name":"Camera G3 config","version":0,"debugenabled":false,"outputs":1,"entityConfig":"c01953391972f43b","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"str"}],"x":370,"y":280,"wires":[["773c99c14ba4562f"]]},{"id":"068c39a0572d02b0","type":"json","z":"e629d6c87e56cb6d","name":"","property":"payload.result.data.67.value","action":"","pretty":true,"x":890,"y":580,"wires":[["cdf714f7bb08944c"]]},{"id":"05f70d1a121a054b","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\nmsg.payload = {        \n            \"resourceIds\": [\"3.22.85\", \"8.0.2045\", \"14.74.85\", \"3.21.85\", \"13.97.85\", \"13.98.85\", \"14.122.85\", \"14.123.85\", \"13.95.85\", \"13.96.85\", \"14.121.85\"],\n            \"size\": \"1\",\n            \"startTime\": \"1514736000000\",\n            \"subjectId\": \"lumi1.XXXXXXXXXXXX\"     \n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":740,"wires":[["863fcaee6a5831b9"]]},{"id":"863fcaee6a5831b9","type":"http request","z":"e629d6c87e56cb6d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://rpc-ger.aqara.com/app/v1.0/lumi/res/history/log","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Sys-Type","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"Appid","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Token","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json; charset=utf-8"}],"x":630,"y":740,"wires":[["1bbbe44851f9d02a"]]},{"id":"248e1651644515be","type":"ha-sensor","z":"e629d6c87e56cb6d","name":"Camera G3 log","entityConfig":"88a6775e6b14d5b2","version":0,"state":"payload.result.data.0.resourceId","stateType":"msg","attributes":[{"property":"resourceId","value":"payload.result.data.0.resourceId","valueType":"msg"},{"property":"subjectId","value":"payload.result.data.0.subjectId","valueType":"msg"},{"property":"value","value":"payload.result.data.0.value","valueType":"msg"},{"property":"timeStamp","value":"timeStamp","valueType":"msg"},{"property":"date","value":"date","valueType":"msg"},{"property":"time","value":"time","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":1380,"y":760,"wires":[[]]},{"id":"6adc5963c185dd7b","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\nmsg.payload = {\"size\":1,\"startIndex\":0,\"startTime\":1514736000000};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":980,"wires":[["d91fbee941b8bf6e"]]},{"id":"d91fbee941b8bf6e","type":"http request","z":"e629d6c87e56cb6d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://rpc-ger.aqara.com/app/v1.0/lumi/ifttt/linkage/query/log","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Sys-Type","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"Appid","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Token","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json; charset=utf-8"}],"x":630,"y":980,"wires":[["1249b6ceca40afe3"]]},{"id":"da656c216af6c39c","type":"ha-sensor","z":"e629d6c87e56cb6d","name":"Aqara Smart log Autom","entityConfig":"c7d2044db2224e1d","version":0,"state":"payload.result.resultList.0.linkageName","stateType":"msg","attributes":[{"property":"linkageName","value":"payload.result.resultList.0.linkageName","valueType":"msg"},{"property":"triggerDefinitionIdDesc","value":"payload.result.resultList.0.triggerDefinitionIdDesc","valueType":"msg"},{"property":"triggerSubjectName","value":"payload.result.resultList.0.triggerSubjectName","valueType":"msg"},{"property":"positionName","value":"payload.result.resultList.0.positionName","valueType":"msg"},{"property":"executeResultDesc","value":"payload.result.resultList.0.executeResultDesc","valueType":"msg"},{"property":"triggerSubjectModel","value":"payload.result.resultList.0.triggerSubjectModel","valueType":"msg"},{"property":"triggerSubjectId","value":"payload.result.resultList.0.triggerSubjectId","valueType":"msg"},{"property":"timeStamp","value":"timeStamp","valueType":"msg"},{"property":"date","value":"date","valueType":"msg"},{"property":"time","value":"time","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":1390,"y":980,"wires":[[]]},{"id":"42ada826abdf338e","type":"http request","z":"e629d6c87e56cb6d","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://rpc-ger.aqara.com/app/v1.0/lumi/devex/face/info?did={{iddevice}} ","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Sys-Type","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"Appid","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Token","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json; charset=utf-8"}],"x":650,"y":1180,"wires":[["c92d206a69c4ea68"]]},{"id":"c92d206a69c4ea68","type":"ha-sensor","z":"e629d6c87e56cb6d","name":"Camera G3 Face Know","entityConfig":"f095fa1365f4b174","version":0,"state":"Face Know","stateType":"str","attributes":[{"property":"faceName1","value":"payload.result.0.faceName","valueType":"msg"},{"property":"faceId1","value":"payload.result.0.faceId","valueType":"msg"},{"property":"faceName2","value":"payload.result.1.faceName","valueType":"msg"},{"property":"faceId2","value":"payload.result.1.faceId","valueType":"msg"},{"property":"faceName3","value":"payload.result.2.faceName","valueType":"msg"},{"property":"faceId3","value":"payload.result.2.faceId","valueType":"msg"},{"property":"faceName4","value":"payload.result.3.faceName","valueType":"msg"},{"property":"faceId4","value":"payload.result.3.faceId","valueType":"msg"},{"property":"faceName5","value":"payload.result.4.faceName","valueType":"msg"},{"property":"faceId5","value":"payload.result.4.faceId","valueType":"msg"},{"property":"faceName6","value":"payload.result.5.faceName","valueType":"msg"},{"property":"faceId6","value":"payload.result.5.faceId","valueType":"msg"},{"property":"faceName7","value":"payload.result.6.faceName","valueType":"msg"},{"property":"faceId7","value":"payload.result.6.faceId","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":970,"y":1180,"wires":[[]]},{"id":"94289a9771f1ce4b","type":"ha-button","z":"e629d6c87e56cb6d","name":"Camera G3 log","version":0,"debugenabled":false,"outputs":1,"entityConfig":"22de18ae6f00ab00","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"str"}],"x":360,"y":680,"wires":[["05f70d1a121a054b"]]},{"id":"661438d7b55a6762","type":"ha-button","z":"e629d6c87e56cb6d","name":"Aqara Smart log Autom","version":0,"debugenabled":false,"outputs":1,"entityConfig":"f06687f218d98283","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"str"}],"x":380,"y":920,"wires":[["6adc5963c185dd7b"]]},{"id":"cbb06ca0d21278be","type":"ha-button","z":"e629d6c87e56cb6d","name":"Camera G3 Face Know","version":0,"debugenabled":false,"outputs":1,"entityConfig":"dd4077143e565cbe","outputProperties":[{"property":"payload","propertyType":"msg","value":"lumi1.XXXXXXXXXXXX","valueType":"str"}],"x":360,"y":1120,"wires":[["bd8e1e21603b5934"]]},{"id":"bd8e1e21603b5934","type":"change","z":"e629d6c87e56cb6d","name":"","rules":[{"t":"set","p":"iddevice","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1180,"wires":[["42ada826abdf338e"]]},{"id":"a71da48f1958dee0","type":"comment","z":"e629d6c87e56cb6d","name":"Delete/Add Face","info":"Delete/Add Face","x":940,"y":1140,"wires":[]},{"id":"c17048689cf1a1db","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\nmsg.payload = {\n    \"did\": \"lumi1.XXXXXXXXXXXX\", \"method\": \"ctrl_ptz\", \"params\": { \"action\": \"left_always\" }\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1400,"wires":[["82606d2a41fa5b15"]]},{"id":"82606d2a41fa5b15","type":"http request","z":"e629d6c87e56cb6d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://rpc-ger.aqara.com/app/v1.0/lumi/devex/camera/operate","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Sys-Type","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"Appid","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Token","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json; charset=utf-8"}],"x":950,"y":1400,"wires":[[]]},{"id":"2a4a100d94196da3","type":"ha-button","z":"e629d6c87e56cb6d","name":"Camera G3 PTZ left","version":0,"debugenabled":false,"outputs":1,"entityConfig":"b701ed2f018edd62","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"str"}],"x":170,"y":1380,"wires":[["c17048689cf1a1db","48e126336fc29781"]]},{"id":"48e126336fc29781","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\nmsg.payload = {\n    \"did\": \"lumi1.XXXXXXXXXXXX\", \"method\": \"ctrl_ptz\", \"params\": { \"action\": \"stop\" }\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1500,"wires":[["c49af52ec8d390ff"]]},{"id":"c49af52ec8d390ff","type":"delay","z":"e629d6c87e56cb6d","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":650,"y":1500,"wires":[["82606d2a41fa5b15"]]},{"id":"175f6adf68072f4c","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\nmsg.payload = {\n    \"did\": \"lumi1.XXXXXXXXXXXX\", \"method\": \"ctrl_ptz\", \"params\": { \"action\": \"right_always\" }\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1680,"wires":[["f950a6bd06e278aa"]]},{"id":"f950a6bd06e278aa","type":"http request","z":"e629d6c87e56cb6d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://rpc-ger.aqara.com/app/v1.0/lumi/devex/camera/operate","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Sys-Type","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"Appid","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Token","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json; charset=utf-8"}],"x":950,"y":1680,"wires":[[]]},{"id":"86998a90195ed008","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\nmsg.payload = {\n    \"did\": \"lumi1.XXXXXXXXXXXX\", \"method\": \"ctrl_ptz\", \"params\": { \"action\": \"stop\" }\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1780,"wires":[["d6d7bbc4370fd715"]]},{"id":"d6d7bbc4370fd715","type":"delay","z":"e629d6c87e56cb6d","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":670,"y":1780,"wires":[["f950a6bd06e278aa"]]},{"id":"1108550be5cfd7bf","type":"ha-button","z":"e629d6c87e56cb6d","name":"Camera G3 PTZ right","version":0,"debugenabled":false,"outputs":1,"entityConfig":"70aa54156c09f0e6","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"str"}],"x":180,"y":1660,"wires":[["175f6adf68072f4c","86998a90195ed008"]]},{"id":"3102a908ded1d6bf","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\nmsg.payload = {\n    \"did\": \"lumi1.XXXXXXXXXXXX\", \"method\": \"ctrl_ptz\", \"params\": { \"action\": \"up_always\" }\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1960,"wires":[["a0eb955cacf71725"]]},{"id":"a0eb955cacf71725","type":"http request","z":"e629d6c87e56cb6d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://rpc-ger.aqara.com/app/v1.0/lumi/devex/camera/operate","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Sys-Type","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"Appid","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Token","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json; charset=utf-8"}],"x":950,"y":1960,"wires":[[]]},{"id":"f39bffcef503cc87","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\nmsg.payload = {\n    \"did\": \"lumi1.XXXXXXXXXXXX\", \"method\": \"ctrl_ptz\", \"params\": { \"action\": \"up_always\" }\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":2060,"wires":[["ee7b9887c564a308"]]},{"id":"ee7b9887c564a308","type":"delay","z":"e629d6c87e56cb6d","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":670,"y":2060,"wires":[["a0eb955cacf71725"]]},{"id":"4de471fa3c8e3eb7","type":"ha-button","z":"e629d6c87e56cb6d","name":"Camera G3 PTZ up","version":0,"debugenabled":false,"outputs":1,"entityConfig":"5442975eabeb27d2","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"str"}],"x":170,"y":1940,"wires":[["3102a908ded1d6bf","f39bffcef503cc87"]]},{"id":"9a80abcca3b25b1a","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\nmsg.payload = {\n    \"did\": \"lumi1.XXXXXXXXXXXX\", \"method\": \"ctrl_ptz\", \"params\": { \"action\": \"down_always\" }\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":2240,"wires":[["85d8d0c108fbf1ae"]]},{"id":"85d8d0c108fbf1ae","type":"http request","z":"e629d6c87e56cb6d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://rpc-ger.aqara.com/app/v1.0/lumi/devex/camera/operate","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Sys-Type","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"Appid","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Token","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json; charset=utf-8"}],"x":930,"y":2240,"wires":[[]]},{"id":"b06a3d5fbe766294","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\nmsg.payload = {\n    \"did\": \"lumi1.XXXXXXXXXXXX\", \"method\": \"ctrl_ptz\", \"params\": { \"action\": \"stop\" }\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":2340,"wires":[["855a9ba682b9efa4"]]},{"id":"855a9ba682b9efa4","type":"delay","z":"e629d6c87e56cb6d","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":670,"y":2340,"wires":[["85d8d0c108fbf1ae"]]},{"id":"bdbdc0d84e308af1","type":"ha-button","z":"e629d6c87e56cb6d","name":"Camera G3 PTZ down","version":0,"debugenabled":false,"outputs":1,"entityConfig":"358e648e3998b2a4","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"str"}],"x":180,"y":2200,"wires":[["9a80abcca3b25b1a","b06a3d5fbe766294"]]},{"id":"3cc823226c21fcc8","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\nmsg.payload = {\n    \"data\": { \"14.133.85\": \"0\" },\n    \"options\": \"\", \"subjectId\": \"lumi1.XXXXXXXXXXXX\", \"viewId\": \"detail\"\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":2540,"wires":[["37a256b05c84f761"]]},{"id":"37a256b05c84f761","type":"http request","z":"e629d6c87e56cb6d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://rpc-ger.aqara.com/app/v1.0/lumi/app/view/write","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Sys-Type","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"Appid","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Token","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json; charset=utf-8"}],"x":950,"y":2540,"wires":[[]]},{"id":"5ff4a93058fb28ad","type":"ha-button","z":"e629d6c87e56cb6d","name":"Camera G3 Horizontal","version":0,"debugenabled":false,"outputs":1,"entityConfig":"354025e0a010eb9a","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"str"}],"x":180,"y":2540,"wires":[["3cc823226c21fcc8"]]},{"id":"6bc05ed5317838da","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\nmsg.payload = {\n    \"data\": {\"14.133.85\": \"1\" },\n    \"options\": \"\", \"subjectId\": \"lumi1.XXXXXXXXXXXX\", \"viewId\": \"detail\"\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":2680,"wires":[["df45af8ddb204cce"]]},{"id":"df45af8ddb204cce","type":"http request","z":"e629d6c87e56cb6d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://rpc-ger.aqara.com/app/v1.0/lumi/app/view/write","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Sys-Type","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"Appid","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Token","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json; charset=utf-8"}],"x":950,"y":2680,"wires":[[]]},{"id":"9cb238457e49a083","type":"ha-button","z":"e629d6c87e56cb6d","name":"Camera G3 Upside","version":0,"debugenabled":false,"outputs":1,"entityConfig":"0cde09574fa445fe","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"str"}],"x":170,"y":2680,"wires":[["6bc05ed5317838da"]]},{"id":"b7907ab554172321","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\nmsg.payload = {\n    \"data\": { \"set_video\": \"0\" },\n    \"subjectId\": \"lumi1.XXXXXXXXXXXX\",\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":2840,"wires":[["a22c4c23b9cee976"]]},{"id":"a22c4c23b9cee976","type":"http request","z":"e629d6c87e56cb6d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://rpc-ger.aqara.com/app/v1.0/lumi/res/write","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Sys-Type","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"Appid","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Token","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json; charset=utf-8"}],"x":810,"y":2840,"wires":[[]]},{"id":"f68d7c49030c757f","type":"ha-button","z":"e629d6c87e56cb6d","name":"Camera G3 Sleep On","version":0,"debugenabled":false,"outputs":1,"entityConfig":"db45154b740b98fb","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"str"}],"x":180,"y":2840,"wires":[["b7907ab554172321"]]},{"id":"864c6a4b20371ba6","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\nmsg.payload = {\n    \"data\": { \"set_video\": \"1\" },\n    \"subjectId\": \"lumi1.XXXXXXXXXXXX\",\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":3060,"wires":[["c4dcbc8230142ac4"]]},{"id":"c4dcbc8230142ac4","type":"http request","z":"e629d6c87e56cb6d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://rpc-ger.aqara.com/app/v1.0/lumi/res/write","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Sys-Type","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"Appid","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Token","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json; charset=utf-8"}],"x":810,"y":3060,"wires":[[]]},{"id":"c4c34ee5c5531311","type":"ha-button","z":"e629d6c87e56cb6d","name":"Camera G3 Sleep Off","version":0,"debugenabled":false,"outputs":1,"entityConfig":"5b0b58ad9a8d9e17","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"str"}],"x":180,"y":3060,"wires":[["864c6a4b20371ba6"]]},{"id":"9ff286526d460df1","type":"comment","z":"e629d6c87e56cb6d","name":"Replace subjectId","info":"Replace subjectId","x":650,"y":280,"wires":[]},{"id":"04c40e0cb2b9be21","type":"comment","z":"e629d6c87e56cb6d","name":"Replace Appid Token Userid","info":"Replace Appid Token Userid","x":680,"y":500,"wires":[]},{"id":"1bbbe44851f9d02a","type":"change","z":"e629d6c87e56cb6d","name":"change resourceId","rules":[{"t":"change","p":"payload.result.data.0.resourceId","pt":"msg","from":"13.95.85","fromt":"str","to":"Face Detection","tot":"str"},{"t":"change","p":"payload.result.data.0.resourceId","pt":"msg","from":"13.97.85","fromt":"str","to":"Human Detection","tot":"str"},{"t":"change","p":"payload.result.data.0.resourceId","pt":"msg","from":"13.98.85","fromt":"str","to":"Cat and Dog Detection","tot":"str"},{"t":"change","p":"payload.result.data.0.resourceId","pt":"msg","from":"3.21.85","fromt":"str","to":"Motion Detection","tot":"str"},{"t":"change","p":"payload.result.data.0.resourceId","pt":"msg","from":"off","fromt":"str","to":"Abnormal Suond Detecion","tot":"str"},{"t":"change","p":"payload.result.data.0.resourceId","pt":"msg","from":"off","fromt":"str","to":"Gesture Detecion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":700,"wires":[["6b6b8e57d127a221"]]},{"id":"bccc6352d776fea6","type":"inject","z":"e629d6c87e56cb6d","name":"Autostart","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"15","topic":"","payload":"","payloadType":"str","x":140,"y":320,"wires":[["773c99c14ba4562f"]]},{"id":"58dcba07383304d9","type":"comment","z":"e629d6c87e56cb6d","name":"Replace Appid Token","info":"Replace Appid Token","x":660,"y":700,"wires":[]},{"id":"5dab8b11684a0501","type":"comment","z":"e629d6c87e56cb6d","name":"Replace Appid Token","info":"Replace Appid Token","x":660,"y":940,"wires":[]},{"id":"fc470da4ce8b3cec","type":"comment","z":"e629d6c87e56cb6d","name":"Replace subjectId","info":"Replace subjectId","x":350,"y":1080,"wires":[]},{"id":"05242e9b8a063e57","type":"comment","z":"e629d6c87e56cb6d","name":"Replace Appid Token","info":"Replace Appid Token","x":680,"y":1140,"wires":[]},{"id":"7c05cc7d4de599ed","type":"comment","z":"e629d6c87e56cb6d","name":"Replace Appid Token","info":"Replace Appid Token","x":980,"y":1360,"wires":[]},{"id":"72e03bf03eb90f79","type":"comment","z":"e629d6c87e56cb6d","name":"Replace subjectId","info":"Replace subjectId","x":430,"y":1360,"wires":[]},{"id":"28236eb3471a67fb","type":"comment","z":"e629d6c87e56cb6d","name":"Replace subjectId","info":"Replace subjectId","x":430,"y":1460,"wires":[]},{"id":"0dddec6e55e01806","type":"comment","z":"e629d6c87e56cb6d","name":"Replace Appid Token","info":"Replace Appid Token","x":980,"y":1640,"wires":[]},{"id":"a4403d356fd0bb68","type":"comment","z":"e629d6c87e56cb6d","name":"Replace subjectId","info":"Replace subjectId","x":430,"y":1640,"wires":[]},{"id":"5b4f9769b0062596","type":"comment","z":"e629d6c87e56cb6d","name":"Replace subjectId","info":"Replace subjectId","x":430,"y":1740,"wires":[]},{"id":"accf4670bf0a4012","type":"comment","z":"e629d6c87e56cb6d","name":"Replace Appid Token","info":"Replace Appid Token","x":980,"y":1920,"wires":[]},{"id":"98a64c4d6fafc189","type":"comment","z":"e629d6c87e56cb6d","name":"Replace subjectId","info":"Replace subjectId","x":430,"y":2020,"wires":[]},{"id":"f7a2be9da4dae8a3","type":"comment","z":"e629d6c87e56cb6d","name":"Replace subjectId","info":"Replace subjectId","x":430,"y":1920,"wires":[]},{"id":"31d4c6b090ce9ac7","type":"comment","z":"e629d6c87e56cb6d","name":"Replace Appid Token","info":"Replace Appid Token","x":960,"y":2200,"wires":[]},{"id":"4d9ee261627c3272","type":"comment","z":"e629d6c87e56cb6d","name":"Replace subjectId","info":"Replace subjectId","x":450,"y":2200,"wires":[]},{"id":"f68db1fd046d9667","type":"comment","z":"e629d6c87e56cb6d","name":"Replace subjectId","info":"Replace subjectId","x":450,"y":2300,"wires":[]},{"id":"e8ae2efd610f45fb","type":"comment","z":"e629d6c87e56cb6d","name":"Replace subjectId","info":"Replace subjectId","x":450,"y":2500,"wires":[]},{"id":"e856c8a84807e912","type":"comment","z":"e629d6c87e56cb6d","name":"Replace Appid Token","info":"Replace Appid Token","x":980,"y":2500,"wires":[]},{"id":"d3e17453d5fc2cf6","type":"comment","z":"e629d6c87e56cb6d","name":"Replace subjectId","info":"Replace subjectId","x":450,"y":2640,"wires":[]},{"id":"329e40230090f498","type":"comment","z":"e629d6c87e56cb6d","name":"Replace Appid Token","info":"Replace Appid Token","x":980,"y":2640,"wires":[]},{"id":"636ef59ef9b353af","type":"comment","z":"e629d6c87e56cb6d","name":"Replace subjectId","info":"Replace subjectId","x":450,"y":2800,"wires":[]},{"id":"08dcc5a3af2e543e","type":"comment","z":"e629d6c87e56cb6d","name":"Replace Appid Token","info":"Replace Appid Token","x":840,"y":2800,"wires":[]},{"id":"31d558235886edc3","type":"comment","z":"e629d6c87e56cb6d","name":"Replace subjectId","info":"Replace subjectId","x":450,"y":3020,"wires":[]},{"id":"311291d5657e4a2e","type":"comment","z":"e629d6c87e56cb6d","name":"Replace Appid Token","info":"Replace Appid Token","x":840,"y":3020,"wires":[]},{"id":"74f9557c6dea92b6","type":"inject","z":"e629d6c87e56cb6d","name":"Autostart","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"str","x":140,"y":520,"wires":[["db95b26148cc4f52"]]},{"id":"c2052b279bb3a2b3","type":"inject","z":"e629d6c87e56cb6d","name":"Autostart","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"45","topic":"","payload":"","payloadType":"str","x":140,"y":740,"wires":[["05f70d1a121a054b"]]},{"id":"829bc81de6b3f659","type":"inject","z":"e629d6c87e56cb6d","name":"Autostart","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"60","topic":"","payload":"","payloadType":"str","x":140,"y":980,"wires":[["6adc5963c185dd7b"]]},{"id":"d38785b3c373bae6","type":"comment","z":"e629d6c87e56cb6d","name":"Autostart","info":"","x":140,"y":260,"wires":[]},{"id":"d6dbd9c01007acce","type":"comment","z":"e629d6c87e56cb6d","name":"Autostart +15sec","info":"","x":160,"y":480,"wires":[]},{"id":"e0408e3c52e461c9","type":"comment","z":"e629d6c87e56cb6d","name":"Autostart +15sec","info":"","x":160,"y":700,"wires":[]},{"id":"7df7856ff3252bb1","type":"comment","z":"e629d6c87e56cb6d","name":"Autostart +15sec","info":"","x":160,"y":940,"wires":[]},{"id":"a8f71b085ce7a812","type":"debug","z":"e629d6c87e56cb6d","d":true,"name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1720,"y":280,"wires":[]},{"id":"810229fdaf0bc63e","type":"http request","z":"e629d6c87e56cb6d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://rpc-ger.aqara.com/app/v1.0/lumi/res/write","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Sys-Type","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"Appid","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Token","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json; charset=utf-8"}],"x":830,"y":3280,"wires":[[]]},{"id":"fb705667f99cd4e7","type":"comment","z":"e629d6c87e56cb6d","name":"Replace subjectId","info":"Replace subjectId","x":470,"y":3240,"wires":[]},{"id":"584ff1b4466b1b46","type":"comment","z":"e629d6c87e56cb6d","name":"Replace Appid Token","info":"Replace Appid Token","x":860,"y":3240,"wires":[]},{"id":"22f77809b16adf50","type":"ha-button","z":"e629d6c87e56cb6d","name":"Camera G3 Night Video Auto","version":0,"debugenabled":false,"outputs":1,"entityConfig":"dcbfd635f7c47e23","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"str"}],"x":200,"y":3280,"wires":[["681f7e1c90093e3e"]]},{"id":"681f7e1c90093e3e","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\nmsg.payload = {\n    \"data\": { \"14.73.85\": \"2\" },\n    \"options\": \"\", \"subjectId\": \"lumi1.XXXXXXXXXXXX\", \"viewId\": \"detail\"\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":3280,"wires":[["810229fdaf0bc63e"]]},{"id":"4c67325e36d4b9fc","type":"http request","z":"e629d6c87e56cb6d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://rpc-ger.aqara.com/app/v1.0/lumi/res/write","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Sys-Type","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"Appid","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Token","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json; charset=utf-8"}],"x":830,"y":3460,"wires":[[]]},{"id":"c6469d2ce434e22d","type":"comment","z":"e629d6c87e56cb6d","name":"Replace subjectId","info":"Replace subjectId","x":470,"y":3420,"wires":[]},{"id":"d746d2a93e53522e","type":"comment","z":"e629d6c87e56cb6d","name":"Replace Appid Token","info":"Replace Appid Token","x":860,"y":3420,"wires":[]},{"id":"9dad792cf5e40649","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\nmsg.payload = {\n    \"data\": { \"14.73.85\": \"0\" },\n    \"options\": \"\", \"subjectId\": \"lumi1.XXXXXXXXXXXX\", \"viewId\": \"detail\"\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":3460,"wires":[["4c67325e36d4b9fc"]]},{"id":"1943699fbc7cba5f","type":"http request","z":"e629d6c87e56cb6d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://rpc-ger.aqara.com/app/v1.0/lumi/res/write","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Sys-Type","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"Appid","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Token","valueType":"other","valueValue":"XXXXXXXXXXXXXXXXXXX"},{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json; charset=utf-8"}],"x":830,"y":3640,"wires":[[]]},{"id":"e8ecd772977d4b81","type":"comment","z":"e629d6c87e56cb6d","name":"Replace subjectId","info":"Replace subjectId","x":470,"y":3600,"wires":[]},{"id":"4d63bf42b44504fc","type":"comment","z":"e629d6c87e56cb6d","name":"Replace Appid Token","info":"Replace Appid Token","x":860,"y":3600,"wires":[]},{"id":"e54cc779804304b0","type":"function","z":"e629d6c87e56cb6d","name":"parameter","func":"\nmsg.payload = {};\nmsg.payload = {\n    \"data\": { \"14.73.85\": \"1\" },\n    \"options\": \"\", \"subjectId\": \"lumi1.XXXXXXXXXXXX\", \"viewId\": \"detail\"\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":3640,"wires":[["1943699fbc7cba5f"]]},{"id":"f75b38c8cc3d1587","type":"ha-button","z":"e629d6c87e56cb6d","name":"Camera G3 Night Video Off","version":0,"debugenabled":false,"outputs":1,"entityConfig":"f65571ba66813e5f","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"str"}],"x":200,"y":3460,"wires":[["9dad792cf5e40649"]]},{"id":"7b36303fd6607303","type":"ha-button","z":"e629d6c87e56cb6d","name":"Camera G3 Night Video On","version":0,"debugenabled":false,"outputs":1,"entityConfig":"e915442e641c1695","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"str"}],"x":200,"y":3640,"wires":[["e54cc779804304b0"]]},{"id":"2ec21f281d2c03d6","type":"function","z":"e629d6c87e56cb6d","name":"timeConvert","func":"var timeStamp = msg.timeStamp\nvar date = new Date(timeStamp).toLocaleDateString(\"it-IT\")\nvar time = new Date(timeStamp).toLocaleTimeString(\"it-IT\")\nvar finaldate = time + \" \" + date \n\nmsg.date = date;\nmsg.time = time;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":980,"wires":[["da656c216af6c39c"]]},{"id":"1249b6ceca40afe3","type":"change","z":"e629d6c87e56cb6d","name":"Convert timeStamp","rules":[{"t":"move","p":"payload.result.resultList.0.timeStamp","pt":"msg","to":"timeStamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":940,"wires":[["30a6ed14134ba73f"]]},{"id":"30a6ed14134ba73f","type":"json","z":"e629d6c87e56cb6d","name":"","property":"timeStamp","action":"obj","pretty":false,"x":890,"y":980,"wires":[["2ec21f281d2c03d6"]]},{"id":"b3eabb6c8bb834d8","type":"function","z":"e629d6c87e56cb6d","name":"timeConvert","func":"var timeStamp = msg.timeStamp\nvar date = new Date(timeStamp).toLocaleDateString(\"it-IT\")\nvar time = new Date(timeStamp).toLocaleTimeString(\"it-IT\")\nvar finaldate = time + \" \" + date \n\nmsg.date = date;\nmsg.time = time;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":760,"wires":[["248e1651644515be"]]},{"id":"6b6b8e57d127a221","type":"change","z":"e629d6c87e56cb6d","name":"Convert timeStamp","rules":[{"t":"move","p":"msg.payload.result.data.0.timeStamp","pt":"msg","to":"timeStamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":740,"wires":[["86ecc9797ba04920"]]},{"id":"86ecc9797ba04920","type":"json","z":"e629d6c87e56cb6d","name":"","property":"timeStamp","action":"obj","pretty":false,"x":910,"y":780,"wires":[["b3eabb6c8bb834d8"]]},{"id":"b15e5fb5b5b196fb","type":"comment","z":"e629d6c87e56cb6d","name":"Replace Country timestamp","info":"Replace Country timestamp","x":1220,"y":720,"wires":[]},{"id":"5d5bd3ee269b49f6","type":"comment","z":"e629d6c87e56cb6d","name":"Replace Country timestamp","info":"Replace Country timestamp","x":1200,"y":940,"wires":[]},{"id":"40896fecd2a7247e","type":"change","z":"e629d6c87e56cb6d","name":"change resourceId","rules":[{"t":"change","p":"payload.result[0].value","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload.result[0].value","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":180,"wires":[["970e566b297e7e99"]]},{"id":"970e566b297e7e99","type":"change","z":"e629d6c87e56cb6d","name":"change resourceId","rules":[{"t":"change","p":"payload.result[1].value","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload.result[1].value","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":220,"wires":[["6742a83ba0e523d7"]]},{"id":"6742a83ba0e523d7","type":"change","z":"e629d6c87e56cb6d","name":"change resourceId","rules":[{"t":"change","p":"payload.result[2].value","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload.result[2].value","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":260,"wires":[["bd1fb0d0a1bd0a72"]]},{"id":"bd1fb0d0a1bd0a72","type":"change","z":"e629d6c87e56cb6d","name":"change resourceId","rules":[{"t":"change","p":"payload.result[3].value","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload.result[3].value","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":300,"wires":[["faca4093295d5d5d"]]},{"id":"faca4093295d5d5d","type":"change","z":"e629d6c87e56cb6d","name":"change resourceId","rules":[{"t":"change","p":"payload.result[4].value","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload.result[4].value","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":340,"wires":[["194c511d66f309a3"]]},{"id":"194c511d66f309a3","type":"change","z":"e629d6c87e56cb6d","name":"change resourceId","rules":[{"t":"change","p":"payload.result[5].value","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload.result[5].value","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":180,"wires":[["a1e1eaa3c1f20370"]]},{"id":"a1e1eaa3c1f20370","type":"change","z":"e629d6c87e56cb6d","name":"change resourceId","rules":[{"t":"change","p":"payload.result[6].value","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload.result[6].value","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":220,"wires":[["48593f0bf7da9a03"]]},{"id":"48593f0bf7da9a03","type":"change","z":"e629d6c87e56cb6d","name":"change resourceId","rules":[{"t":"change","p":"payload.result[7].value","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload.result[7].value","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":260,"wires":[["389eebc53590434a"]]},{"id":"389eebc53590434a","type":"change","z":"e629d6c87e56cb6d","name":"change resourceId","rules":[{"t":"change","p":"payload.result[8].value","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload.result[8].value","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":300,"wires":[["36969f63470e2f19"]]},{"id":"36969f63470e2f19","type":"change","z":"e629d6c87e56cb6d","name":"change resourceId","rules":[{"t":"change","p":"payload.result[9].value","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload.result[9].value","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":340,"wires":[["5a95353a03e1c9ad"]]},{"id":"cf17344e3154a8a2","type":"comment","z":"e629d6c87e56cb6d","name":"Find your Appid Token Userid subjectId and replace into nodes","info":"Find your Appid Token Userid subjectId\nand replace into nodes\n\nsubjectId ( device id )","x":810,"y":60,"wires":[]},{"id":"caa960a76b56a309","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 config","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Camera G3 config"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"61fb5dbeecdafb3d","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 Info","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Camera G3 Info"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"35bd23c22b99e80e","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 Info","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Camera G3 Info"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"c01953391972f43b","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 config","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Camera G3 config"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"88a6775e6b14d5b2","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 log","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Camera G3 log"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"c7d2044db2224e1d","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Aqara Smart log Autom","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Aqara Smart log Autom"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"f095fa1365f4b174","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 Face Know","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Camera G3 Face Know"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"22de18ae6f00ab00","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 log","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Camera G3 log"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"f06687f218d98283","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Aqara Smart log Autom","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Aqara Smart log Autom"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"dd4077143e565cbe","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 Face Know","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Camera G3 Face Know"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"b701ed2f018edd62","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 PTZ left","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Camera G3 PTZ left"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"70aa54156c09f0e6","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 PTZ right","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Camera G3 PTZ right"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"5442975eabeb27d2","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 PTZ up","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Camera G3 PTZ up"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"358e648e3998b2a4","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 PTZ down","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Camera G3 PTZ down"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"354025e0a010eb9a","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 Horizontal","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Camera G3 Horizontal"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"0cde09574fa445fe","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 Upside","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Camera G3 Upside"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"db45154b740b98fb","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 Sleep On","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Camera G3 Sleep On"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"5b0b58ad9a8d9e17","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 Sleep Off","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Camera G3 Sleep Off"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"dcbfd635f7c47e23","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 Night Video Auto","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Camera G3 Night Video Auto"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"f65571ba66813e5f","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 Night Video Off","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Camera G3 Night Video Off"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"e915442e641c1695","type":"ha-entity-config","server":"2b77899a.ed9b86","deviceConfig":"","name":"Camera G3 Night Video On","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Camera G3 Night Video On"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"2b77899a.ed9b86","type":"server","name":"homeassistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]