Nodered_Aqara_G3_4.0.2.json
[
    { "id": "e629d6c87e56cb6d", "type": "tab", "label": "Aqara Cam G3", "disabled": false, "info": "", "env": [] },
    {
        "id": "913e5c9b59439a95",
        "type": "http request",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://rpc-ger.aqara.com/app/v1.0/lumi/res/query",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            { "keyType": "other", "keyValue": "Sys-Type", "valueType": "other", "valueValue": "1" },
            { "keyType": "other", "keyValue": "Content-Type", "valueType": "other", "valueValue": "application/json; charset=utf-8" }
        ],
        "x": 2110,
        "y": 180,
        "wires": [["40896fecd2a7247e"]]
    },
    {
        "id": "773c99c14ba4562f",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\nmsg.payload = {\n    \"data\": [\n        {\n            \"options\": [\"ptz_cruise_enable\", \"pets_track_enable\", \"humans_track_enable\", \"gesture_detect_enable\", \"mdtrigger_enable\", \"soundtrigger_enable\", \"human_detect_enable\", \"face_detect_enable\", \"pets_detect_enable\", \"set_video\"],\n            \"subjectId\": subjectId\n        }\n    ]\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 280,
        "wires": [["913e5c9b59439a95"]]
    },
    {
        "id": "5a95353a03e1c9ad",
        "type": "ha-sensor",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 config",
        "entityConfig": "caa960a76b56a309",
        "version": 0,
        "state": "Camera G3 config",
        "stateType": "str",
        "attributes": [
            { "property": "motion_detect_trigger_enable", "value": "payload.result[0].value", "valueType": "msg" },
            { "property": "humans_track_enable", "value": "payload.result[8].value", "valueType": "msg" },
            { "property": "human_detect_enable", "value": "payload.result[2].value", "valueType": "msg" },
            { "property": "sound_detect_trigger_enable", "value": "payload.result[3].value", "valueType": "msg" },
            { "property": "gesture_detect_enable", "value": "payload.result[5].value", "valueType": "msg" },
            { "property": "pets_detect_enable", "value": "payload.result[6].value", "valueType": "msg" },
            { "property": "pets_track_enable", "value": "payload.result[7].value", "valueType": "msg" },
            { "property": "face_detect_enable", "value": "payload.result[1].value", "valueType": "msg" },
            { "property": "ptz_cruise_enable", "value": "payload.result[9].value", "valueType": "msg" },
            { "property": "video active", "value": "payload.result[4].value", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 770,
        "y": 380,
        "wires": [["94dd240d1c9e443f"]]
    },
    {
        "id": "0a80ed2f035d9d6f",
        "type": "http request",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://rpc-ger.aqara.com/app/v1.0/lumi/app/view/data/query?options=&subjectId=lumi1.54eXXXXXXXXX&viewId=detail",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            { "keyType": "other", "keyValue": "Sys-Type", "valueType": "other", "valueValue": "1" },
            { "keyType": "other", "keyValue": "Content-Type", "valueType": "other", "valueValue": "application/json; charset=utf-8" }
        ],
        "credentials": {},
        "x": 990,
        "y": 1460,
        "wires": [["b528b49027d2952d"]]
    },
    {
        "id": "db95b26148cc4f52",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\nvar userid = global.get(\"userid\");\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid,\n    \"Userid\": userid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1460,
        "wires": [["0a80ed2f035d9d6f"]]
    },
    {
        "id": "cdf714f7bb08944c",
        "type": "ha-sensor",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Info",
        "entityConfig": "61fb5dbeecdafb3d",
        "version": 0,
        "state": "Camera G3 Info",
        "stateType": "str",
        "attributes": [
            { "property": "deviceName", "value": "payload.result.data.7.value", "valueType": "msg" },
            { "property": "ip", "value": "payload.result.data.47.value.ip", "valueType": "msg" },
            { "property": "mac", "value": "payload.result.data.47.value.mac", "valueType": "msg" },
            { "property": "rssi", "value": "payload.result.data.47.value.rssi", "valueType": "msg" },
            { "property": "ssid", "value": "payload.result.data.47.value.ssid", "valueType": "msg" },
            { "property": "deviceId", "value": "payload.result.data.8.value", "valueType": "msg" },
            { "property": "subDeviceCount", "value": "payload.result.data.14.value", "valueType": "msg" },
            { "property": "sceneCount", "value": "payload.result.data.15.value", "valueType": "msg" },
            { "property": "firmwareVersion", "value": "payload.result.data.18.value", "valueType": "msg" },
            { "property": "volume", "value": "payload.result.data.24.value", "valueType": "msg" },
            { "property": "Memory SD free", "value": "payload.result.data.71.value.freesize", "valueType": "msg" },
            { "property": "Memory SD size", "value": "payload.result.data.71.value.totalsize", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1900,
        "y": 1520,
        "wires": [[]]
    },
    { "id": "b528b49027d2952d", "type": "json", "z": "e629d6c87e56cb6d", "name": "", "property": "payload.result.data.45.value", "action": "", "pretty": true, "x": 1250, "y": 1460, "wires": [["068c39a0572d02b0"]] },
    {
        "id": "aca44aa21244c32b",
        "type": "ha-button",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Info",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "35bd23c22b99e80e",
        "outputProperties": [{ "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" }],
        "x": 340,
        "y": 1460,
        "wires": [["56d7fe06b8048bbf"]]
    },
    {
        "id": "3c5b5971973b9f09",
        "type": "ha-button",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 config",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "c01953391972f43b",
        "outputProperties": [{ "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" }],
        "x": 1510,
        "y": 280,
        "wires": [["2a6e832be7ef719c"]]
    },
    { "id": "068c39a0572d02b0", "type": "json", "z": "e629d6c87e56cb6d", "name": "", "property": "payload.result.data.67.value", "action": "", "pretty": true, "x": 1250, "y": 1500, "wires": [["ecace35d9c9b1fee"]] },
    {
        "id": "d91fbee941b8bf6e",
        "type": "http request",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://rpc-ger.aqara.com/app/v1.0/lumi/ifttt/linkage/query/log",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            { "keyType": "other", "keyValue": "Sys-Type", "valueType": "other", "valueValue": "1" },
            { "keyType": "other", "keyValue": "Content-Type", "valueType": "other", "valueValue": "application/json; charset=utf-8" }
        ],
        "credentials": {},
        "x": 1010,
        "y": 2180,
        "wires": [["98f0c3dc82c0e379"]]
    },
    {
        "id": "da656c216af6c39c",
        "type": "ha-sensor",
        "z": "e629d6c87e56cb6d",
        "name": "Aqara Smart log Autom",
        "entityConfig": "c7d2044db2224e1d",
        "version": 0,
        "state": "payload.result.resultList.0.linkageName",
        "stateType": "msg",
        "attributes": [
            { "property": "linkageName", "value": "payload.result.resultList.0.linkageName", "valueType": "msg" },
            { "property": "triggerDefinitionIdDesc", "value": "payload.result.resultList.0.triggerDefinitionIdDesc", "valueType": "msg" },
            { "property": "triggerSubjectName", "value": "payload.result.resultList.0.triggerSubjectName", "valueType": "msg" },
            { "property": "positionName", "value": "payload.result.resultList.0.positionName", "valueType": "msg" },
            { "property": "executeResultDesc", "value": "payload.result.resultList.0.executeResultDesc", "valueType": "msg" },
            { "property": "triggerSubjectModel", "value": "payload.result.resultList.0.triggerSubjectModel", "valueType": "msg" },
            { "property": "triggerSubjectId", "value": "payload.result.resultList.0.triggerSubjectId", "valueType": "msg" },
            { "property": "date", "value": "date", "valueType": "msg" },
            { "property": "time", "value": "time", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1810,
        "y": 2180,
        "wires": [[]]
    },
    {
        "id": "42ada826abdf338e",
        "type": "http request",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://rpc-ger.aqara.com/app/v1.0/lumi/devex/face/info?did=lumi1.54eXXXXXXXXX",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            { "keyType": "other", "keyValue": "Sys-Type", "valueType": "other", "valueValue": "1" },
            { "keyType": "other", "keyValue": "Content-Type", "valueType": "other", "valueValue": "application/json; charset=utf-8" }
        ],
        "credentials": {},
        "x": 1010,
        "y": 2380,
        "wires": [["c92d206a69c4ea68"]]
    },
    {
        "id": "c92d206a69c4ea68",
        "type": "ha-sensor",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Face Know",
        "entityConfig": "f095fa1365f4b174",
        "version": 0,
        "state": "Face Know",
        "stateType": "str",
        "attributes": [
            { "property": "faceName1", "value": "payload.result.0.faceName", "valueType": "msg" },
            { "property": "faceId1", "value": "payload.result.0.faceId", "valueType": "msg" },
            { "property": "faceName2", "value": "payload.result.1.faceName", "valueType": "msg" },
            { "property": "faceId2", "value": "payload.result.1.faceId", "valueType": "msg" },
            { "property": "faceName3", "value": "payload.result.2.faceName", "valueType": "msg" },
            { "property": "faceId3", "value": "payload.result.2.faceId", "valueType": "msg" },
            { "property": "faceName4", "value": "payload.result.3.faceName", "valueType": "msg" },
            { "property": "faceId4", "value": "payload.result.3.faceId", "valueType": "msg" },
            { "property": "faceName5", "value": "payload.result.4.faceName", "valueType": "msg" },
            { "property": "faceId5", "value": "payload.result.4.faceId", "valueType": "msg" },
            { "property": "faceName6", "value": "payload.result.5.faceName", "valueType": "msg" },
            { "property": "faceId6", "value": "payload.result.5.faceId", "valueType": "msg" },
            { "property": "faceName7", "value": "payload.result.6.faceName", "valueType": "msg" },
            { "property": "faceId7", "value": "payload.result.6.faceId", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1410,
        "y": 2380,
        "wires": [[]]
    },
    {
        "id": "661438d7b55a6762",
        "type": "ha-button",
        "z": "e629d6c87e56cb6d",
        "name": "Aqara Smart log Autom",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "f06687f218d98283",
        "outputProperties": [{ "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" }],
        "x": 360,
        "y": 2180,
        "wires": [["6a46e5b2c6302392"]]
    },
    {
        "id": "cbb06ca0d21278be",
        "type": "ha-button",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Face Know",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "dd4077143e565cbe",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "str" }],
        "x": 360,
        "y": 2380,
        "wires": [["94598948964b17d4"]]
    },
    { "id": "a71da48f1958dee0", "type": "comment", "z": "e629d6c87e56cb6d", "name": "Delete/Add Face", "info": "Delete/Add Face", "x": 1380, "y": 2340, "wires": [] },
    {
        "id": "c17048689cf1a1db",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = {\n    \"did\": subjectId, \"method\": \"ctrl_ptz\", \"params\": { \"action\": \"left_always\" }\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 2540,
        "wires": [["82606d2a41fa5b15"]]
    },
    {
        "id": "82606d2a41fa5b15",
        "type": "http request",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://rpc-ger.aqara.com/app/v1.0/lumi/devex/camera/operate",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            { "keyType": "other", "keyValue": "Sys-Type", "valueType": "other", "valueValue": "1" },
            { "keyType": "other", "keyValue": "Content-Type", "valueType": "other", "valueValue": "application/json; charset=utf-8" }
        ],
        "x": 1270,
        "y": 2780,
        "wires": [[]]
    },
    {
        "id": "2a4a100d94196da3",
        "type": "ha-button",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 PTZ left",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "b701ed2f018edd62",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "str" }],
        "x": 450,
        "y": 2580,
        "wires": [["c17048689cf1a1db", "48e126336fc29781"]]
    },
    {
        "id": "48e126336fc29781",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = {\n    \"did\": subjectId, \"method\": \"ctrl_ptz\", \"params\": { \"action\": \"stop\" }\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 2600,
        "wires": [["c49af52ec8d390ff"]]
    },
    {
        "id": "c49af52ec8d390ff",
        "type": "delay",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 890,
        "y": 2640,
        "wires": [["82606d2a41fa5b15"]]
    },
    {
        "id": "175f6adf68072f4c",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = {\n    \"did\": subjectId, \"method\": \"ctrl_ptz\", \"params\": { \"action\": \"right_always\" }\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 2680,
        "wires": [["82606d2a41fa5b15"]]
    },
    {
        "id": "86998a90195ed008",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = {\n    \"did\": subjectId, \"method\": \"ctrl_ptz\", \"params\": { \"action\": \"stop\" }\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 2740,
        "wires": [["d6d7bbc4370fd715"]]
    },
    {
        "id": "d6d7bbc4370fd715",
        "type": "delay",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 890,
        "y": 2760,
        "wires": [["82606d2a41fa5b15"]]
    },
    {
        "id": "1108550be5cfd7bf",
        "type": "ha-button",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 PTZ right",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "70aa54156c09f0e6",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "str" }],
        "x": 460,
        "y": 2700,
        "wires": [["175f6adf68072f4c", "86998a90195ed008"]]
    },
    {
        "id": "3102a908ded1d6bf",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = {\n    \"did\": subjectId, \"method\": \"ctrl_ptz\", \"params\": { \"action\": \"up_always\" }\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 2820,
        "wires": [["82606d2a41fa5b15"]]
    },
    {
        "id": "f39bffcef503cc87",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = {\n    \"did\": subjectId, \"method\": \"ctrl_ptz\", \"params\": { \"action\": \"up_always\" }\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 2880,
        "wires": [["ee7b9887c564a308"]]
    },
    {
        "id": "ee7b9887c564a308",
        "type": "delay",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 890,
        "y": 2840,
        "wires": [["82606d2a41fa5b15"]]
    },
    {
        "id": "4de471fa3c8e3eb7",
        "type": "ha-button",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 PTZ up",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "5442975eabeb27d2",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "str" }],
        "x": 450,
        "y": 2840,
        "wires": [["3102a908ded1d6bf", "f39bffcef503cc87"]]
    },
    {
        "id": "9a80abcca3b25b1a",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = {\n    \"did\": subjectId, \"method\": \"ctrl_ptz\", \"params\": { \"action\": \"down_always\" }\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 2940,
        "wires": [["82606d2a41fa5b15"]]
    },
    {
        "id": "b06a3d5fbe766294",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = {\n    \"did\": subjectId, \"method\": \"ctrl_ptz\", \"params\": { \"action\": \"stop\" }\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 3000,
        "wires": [["855a9ba682b9efa4"]]
    },
    {
        "id": "855a9ba682b9efa4",
        "type": "delay",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 890,
        "y": 2960,
        "wires": [["82606d2a41fa5b15"]]
    },
    {
        "id": "bdbdc0d84e308af1",
        "type": "ha-button",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 PTZ down",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "358e648e3998b2a4",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "str" }],
        "x": 440,
        "y": 2960,
        "wires": [["9a80abcca3b25b1a", "b06a3d5fbe766294"]]
    },
    {
        "id": "3cc823226c21fcc8",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = {\n    \"data\": { \"14.133.85\": \"0\" },\n    \"options\": \"\", \"subjectId\": subjectId, \"viewId\": \"detail\"\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 3140,
        "wires": [["37a256b05c84f761"]]
    },
    {
        "id": "37a256b05c84f761",
        "type": "http request",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://rpc-ger.aqara.com/app/v1.0/lumi/app/view/write",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            { "keyType": "other", "keyValue": "Sys-Type", "valueType": "other", "valueValue": "1" },
            { "keyType": "other", "keyValue": "Content-Type", "valueType": "other", "valueValue": "application/json; charset=utf-8" }
        ],
        "x": 1050,
        "y": 3260,
        "wires": [[]]
    },
    {
        "id": "5ff4a93058fb28ad",
        "type": "ha-button",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Horizontal",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "9df37a3c91d4cb39",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "str" }],
        "x": 440,
        "y": 3140,
        "wires": [["3cc823226c21fcc8"]]
    },
    {
        "id": "6bc05ed5317838da",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = {\n    \"data\": {\"14.133.85\": \"1\" },\n    \"options\": \"\", \"subjectId\": subjectId, \"viewId\": \"detail\"\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 3200,
        "wires": [["37a256b05c84f761"]]
    },
    {
        "id": "9cb238457e49a083",
        "type": "ha-button",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Upside",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "0cde09574fa445fe",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "str" }],
        "x": 430,
        "y": 3200,
        "wires": [["6bc05ed5317838da"]]
    },
    {
        "id": "bccc6352d776fea6",
        "type": "inject",
        "z": "e629d6c87e56cb6d",
        "name": "Autostart",
        "props": [{ "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "15",
        "topic": "",
        "x": 1480,
        "y": 220,
        "wires": [["2a6e832be7ef719c"]]
    },
    {
        "id": "74f9557c6dea92b6",
        "type": "inject",
        "z": "e629d6c87e56cb6d",
        "name": "Autostart",
        "props": [{ "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "x": 340,
        "y": 1400,
        "wires": [["56d7fe06b8048bbf"]]
    },
    {
        "id": "829bc81de6b3f659",
        "type": "inject",
        "z": "e629d6c87e56cb6d",
        "name": "Autostart",
        "props": [{ "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "x": 320,
        "y": 2120,
        "wires": [["6a46e5b2c6302392"]]
    },
    { "id": "d38785b3c373bae6", "type": "comment", "z": "e629d6c87e56cb6d", "name": "Autostart", "info": "", "x": 1480, "y": 180, "wires": [] },
    { "id": "d6dbd9c01007acce", "type": "comment", "z": "e629d6c87e56cb6d", "name": "Autostart +15sec", "info": "", "x": 340, "y": 1360, "wires": [] },
    { "id": "7df7856ff3252bb1", "type": "comment", "z": "e629d6c87e56cb6d", "name": "Autostart +15sec", "info": "", "x": 340, "y": 2080, "wires": [] },
    {
        "id": "22f77809b16adf50",
        "type": "ha-button",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Night Video Auto",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "dcbfd635f7c47e23",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "str" }],
        "x": 460,
        "y": 3260,
        "wires": [["681f7e1c90093e3e"]]
    },
    {
        "id": "681f7e1c90093e3e",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = {\n    \"data\": { \"14.73.85\": \"2\" },\n    \"options\": \"\", \"subjectId\": subjectId, \"viewId\": \"detail\"\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 3260,
        "wires": [["37a256b05c84f761"]]
    },
    {
        "id": "9dad792cf5e40649",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = {\n    \"data\": { \"14.73.85\": \"0\" },\n    \"options\": \"\", \"subjectId\": subjectId, \"viewId\": \"detail\"\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 3320,
        "wires": [["37a256b05c84f761"]]
    },
    {
        "id": "e54cc779804304b0",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = {\n    \"data\": { \"14.73.85\": \"1\" },\n    \"options\": \"\", \"subjectId\": subjectId, \"viewId\": \"detail\"\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 3380,
        "wires": [["37a256b05c84f761"]]
    },
    {
        "id": "f75b38c8cc3d1587",
        "type": "ha-button",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Night Video Off",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "f65571ba66813e5f",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "str" }],
        "x": 460,
        "y": 3320,
        "wires": [["9dad792cf5e40649"]]
    },
    {
        "id": "7b36303fd6607303",
        "type": "ha-button",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Night Video On",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "e915442e641c1695",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "str" }],
        "x": 460,
        "y": 3380,
        "wires": [["e54cc779804304b0"]]
    },
    {
        "id": "40896fecd2a7247e",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "change resourceId",
        "rules": [
            { "t": "change", "p": "payload.result[0].value", "pt": "msg", "from": "1", "fromt": "str", "to": "true", "tot": "bool" },
            { "t": "change", "p": "payload.result[0].value", "pt": "msg", "from": "0", "fromt": "str", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2410,
        "y": 140,
        "wires": [["970e566b297e7e99"]]
    },
    {
        "id": "970e566b297e7e99",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "change resourceId",
        "rules": [
            { "t": "change", "p": "payload.result[1].value", "pt": "msg", "from": "1", "fromt": "str", "to": "true", "tot": "bool" },
            { "t": "change", "p": "payload.result[1].value", "pt": "msg", "from": "0", "fromt": "str", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2410,
        "y": 180,
        "wires": [["6742a83ba0e523d7"]]
    },
    {
        "id": "6742a83ba0e523d7",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "change resourceId",
        "rules": [
            { "t": "change", "p": "payload.result[2].value", "pt": "msg", "from": "1", "fromt": "str", "to": "true", "tot": "bool" },
            { "t": "change", "p": "payload.result[2].value", "pt": "msg", "from": "0", "fromt": "str", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2410,
        "y": 220,
        "wires": [["bd1fb0d0a1bd0a72"]]
    },
    {
        "id": "bd1fb0d0a1bd0a72",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "change resourceId",
        "rules": [
            { "t": "change", "p": "payload.result[3].value", "pt": "msg", "from": "1", "fromt": "str", "to": "true", "tot": "bool" },
            { "t": "change", "p": "payload.result[3].value", "pt": "msg", "from": "0", "fromt": "str", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2410,
        "y": 260,
        "wires": [["faca4093295d5d5d"]]
    },
    {
        "id": "faca4093295d5d5d",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "change resourceId",
        "rules": [
            { "t": "change", "p": "payload.result[4].value", "pt": "msg", "from": "1", "fromt": "str", "to": "true", "tot": "bool" },
            { "t": "change", "p": "payload.result[4].value", "pt": "msg", "from": "0", "fromt": "str", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2410,
        "y": 300,
        "wires": [["194c511d66f309a3"]]
    },
    {
        "id": "194c511d66f309a3",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "change resourceId",
        "rules": [
            { "t": "change", "p": "payload.result[5].value", "pt": "msg", "from": "1", "fromt": "str", "to": "true", "tot": "bool" },
            { "t": "change", "p": "payload.result[5].value", "pt": "msg", "from": "0", "fromt": "str", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2730,
        "y": 140,
        "wires": [["a1e1eaa3c1f20370"]]
    },
    {
        "id": "a1e1eaa3c1f20370",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "change resourceId",
        "rules": [
            { "t": "change", "p": "payload.result[6].value", "pt": "msg", "from": "1", "fromt": "str", "to": "true", "tot": "bool" },
            { "t": "change", "p": "payload.result[6].value", "pt": "msg", "from": "0", "fromt": "str", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2730,
        "y": 180,
        "wires": [["48593f0bf7da9a03"]]
    },
    {
        "id": "48593f0bf7da9a03",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "change resourceId",
        "rules": [
            { "t": "change", "p": "payload.result[7].value", "pt": "msg", "from": "1", "fromt": "str", "to": "true", "tot": "bool" },
            { "t": "change", "p": "payload.result[7].value", "pt": "msg", "from": "0", "fromt": "str", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2730,
        "y": 220,
        "wires": [["389eebc53590434a"]]
    },
    {
        "id": "389eebc53590434a",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "change resourceId",
        "rules": [
            { "t": "change", "p": "payload.result[8].value", "pt": "msg", "from": "1", "fromt": "str", "to": "true", "tot": "bool" },
            { "t": "change", "p": "payload.result[8].value", "pt": "msg", "from": "0", "fromt": "str", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2730,
        "y": 260,
        "wires": [["36969f63470e2f19"]]
    },
    {
        "id": "36969f63470e2f19",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "change resourceId",
        "rules": [
            { "t": "change", "p": "payload.result[9].value", "pt": "msg", "from": "1", "fromt": "str", "to": "true", "tot": "bool" },
            { "t": "change", "p": "payload.result[9].value", "pt": "msg", "from": "0", "fromt": "str", "to": "false", "tot": "bool" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2730,
        "y": 300,
        "wires": [["5a95353a03e1c9ad"]]
    },
    {
        "id": "cf17344e3154a8a2",
        "type": "comment",
        "z": "e629d6c87e56cb6d",
        "name": "Replace your subjectId country Appid Token Userid ",
        "info": "Find your Appid Token Userid subjectId\nand replace\n\nsubjectId ( device id )",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "1627f2dc70282456",
        "type": "ha-switch",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 video active",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "bc123dc7400b4be5",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 750,
        "y": 580,
        "wires": [["1e8d016d13e7ca79"], ["90b3fb24b2a486e1"]]
    },
    {
        "id": "94dd240d1c9e443f",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "rules": [{ "t": "move", "p": "payload.result[4].value", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 580,
        "wires": [["1627f2dc70282456", "b212923c6cf15ed2"]]
    },
    {
        "id": "bbf45dff13ca7d1c",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = { \"data\": { \"set_video\": 0 }, \n    \"subjectId\": subjectId };\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 600,
        "wires": [["4369257dd94aad16"]]
    },
    {
        "id": "1e8d016d13e7ca79",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "payload", "tot": "msg" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "payload", "tot": "msg" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 560,
        "wires": [["7375f3cd43e71df6"]]
    },
    {
        "id": "90b3fb24b2a486e1",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "enable", "pt": "msg", "from": "true", "fromt": "bool", "to": "payload", "tot": "msg" },
            { "t": "change", "p": "enable", "pt": "msg", "from": "false", "fromt": "bool", "to": "payload", "tot": "msg" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 600,
        "wires": [["bbf45dff13ca7d1c"]]
    },
    {
        "id": "7375f3cd43e71df6",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = {\n    \"data\": { \"set_video\": 1 },\n    \"subjectId\": subjectId\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 560,
        "wires": [["4369257dd94aad16"]]
    },
    {
        "id": "b212923c6cf15ed2",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "rules": [{ "t": "move", "p": "payload.result[8].value", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 660,
        "wires": [["b2e65a0db9d256c2", "fbe737999dd13102"]]
    },
    {
        "id": "b2e65a0db9d256c2",
        "type": "ha-switch",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Human tracking",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "535ebd9108bc4d7a",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 780,
        "y": 660,
        "wires": [["391011d84f1b8440"], ["2acab59f906c7bdb"]]
    },
    {
        "id": "391011d84f1b8440",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "payload", "tot": "msg" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "payload", "tot": "msg" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 640,
        "wires": [["1b35f5ea475a32db"]]
    },
    {
        "id": "2acab59f906c7bdb",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "enable", "pt": "msg", "from": "true", "fromt": "bool", "to": "payload", "tot": "msg" },
            { "t": "change", "p": "enable", "pt": "msg", "from": "false", "fromt": "bool", "to": "payload", "tot": "msg" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 680,
        "wires": [["11ba9bb48bd53ff0"]]
    },
    {
        "id": "4369257dd94aad16",
        "type": "http request",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://rpc-ger.aqara.com/app/v1.0/lumi/res/write",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            { "keyType": "other", "keyValue": "Sys-Type", "valueType": "other", "valueValue": "1" },
            { "keyType": "other", "keyValue": "Content-Type", "valueType": "other", "valueValue": "application/json; charset=utf-8" }
        ],
        "x": 1910,
        "y": 800,
        "wires": [["265f20f4e80e3c48"]]
    },
    {
        "id": "11ba9bb48bd53ff0",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = { \"data\": { \"humans_track_enable\": 0 }, \"subjectId\": subjectId };\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 680,
        "wires": [["4369257dd94aad16"]]
    },
    {
        "id": "1b35f5ea475a32db",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = { \"data\": { \"humans_track_enable\": 1 }, \"subjectId\": subjectId };\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 640,
        "wires": [["4369257dd94aad16"]]
    },
    {
        "id": "fbe737999dd13102",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "rules": [{ "t": "move", "p": "payload.result[7].value", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 740,
        "wires": [["52dcd880283937d0", "0fbf4808ed405efb"]]
    },
    {
        "id": "ebe56d9fd7013ebd",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "payload", "tot": "msg" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "payload", "tot": "msg" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 720,
        "wires": [["7d44902797f9a7c4"]]
    },
    {
        "id": "f6d6a0085a146583",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "enable", "pt": "msg", "from": "true", "fromt": "bool", "to": "payload", "tot": "msg" },
            { "t": "change", "p": "enable", "pt": "msg", "from": "false", "fromt": "bool", "to": "payload", "tot": "msg" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 760,
        "wires": [["7686bf24a40c0a8c"]]
    },
    {
        "id": "7686bf24a40c0a8c",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = { \"data\": { \"pets_track_enable\": 0 }, \"subjectId\": subjectId };\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 760,
        "wires": [["4369257dd94aad16"]]
    },
    {
        "id": "7d44902797f9a7c4",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = { \"data\": { \"pets_track_enable\": 1, \"humans_track_enable\": 0 }, \"subjectId\": subjectId };\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 720,
        "wires": [["4369257dd94aad16"]]
    },
    {
        "id": "2a6e832be7ef719c",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "timeConvert",
        "func": "var country = global.get(\"country\");\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(country)\nvar time = new Date(lastchecked).toLocaleTimeString(country)\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 280,
        "wires": [["773c99c14ba4562f"]]
    },
    {
        "id": "52dcd880283937d0",
        "type": "ha-switch",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Pets tracking",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "b5bced07e02e16d2",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 770,
        "y": 740,
        "wires": [["ebe56d9fd7013ebd"], ["f6d6a0085a146583"]]
    },
    {
        "id": "604e6d28ae583abe",
        "type": "ha-switch",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Face Detection",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "d65e5081a17f4f87",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 780,
        "y": 900,
        "wires": [["4d1a74495e20a376"], ["3d35623cac0fd8b5"]]
    },
    {
        "id": "3632170a825be9e1",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "rules": [{ "t": "move", "p": "payload.result[1].value", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 900,
        "wires": [["604e6d28ae583abe", "dd9f69663594baad"]]
    },
    {
        "id": "4d1a74495e20a376",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "payload", "tot": "msg" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "payload", "tot": "msg" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 880,
        "wires": [["b23e6848cde8f9f1"]]
    },
    {
        "id": "3d35623cac0fd8b5",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "enable", "pt": "msg", "from": "true", "fromt": "bool", "to": "payload", "tot": "msg" },
            { "t": "change", "p": "enable", "pt": "msg", "from": "false", "fromt": "bool", "to": "payload", "tot": "msg" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 920,
        "wires": [["7a8cf9c4bba1d627"]]
    },
    {
        "id": "7a8cf9c4bba1d627",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = { \"data\": { \"face_detect_enable\": 0, }, \"subjectId\": subjectId };\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 920,
        "wires": [["4369257dd94aad16"]]
    },
    {
        "id": "b23e6848cde8f9f1",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = { \"data\": { \"face_detect_enable\": 1,\n    \"gesture_detect_enable\": 0 }, \"subjectId\": subjectId };\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 880,
        "wires": [["4369257dd94aad16"]]
    },
    {
        "id": "47c9f5e69f538a2e",
        "type": "ha-switch",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Gesture Identification",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "9330d3ffce2f7e5d",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 800,
        "y": 980,
        "wires": [["0a1f6adadedfd391"], ["e648d073b3587cb3"]]
    },
    {
        "id": "dd9f69663594baad",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "rules": [{ "t": "move", "p": "payload.result[5].value", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 980,
        "wires": [["47c9f5e69f538a2e", "dd0115b20dea9812"]]
    },
    {
        "id": "0a1f6adadedfd391",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "payload", "tot": "msg" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "payload", "tot": "msg" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 960,
        "wires": [["b7190eb1dde60e4a"]]
    },
    {
        "id": "e648d073b3587cb3",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "enable", "pt": "msg", "from": "true", "fromt": "bool", "to": "payload", "tot": "msg" },
            { "t": "change", "p": "enable", "pt": "msg", "from": "false", "fromt": "bool", "to": "payload", "tot": "msg" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1000,
        "wires": [["b216a7ba50cb6485"]]
    },
    {
        "id": "b216a7ba50cb6485",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\nmsg.payload = {\n    \"data\": { \"gesture_detect_enable\": \"0\" }, \"subjectId\": subjectId };\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1000,
        "wires": [["4369257dd94aad16"]]
    },
    {
        "id": "b7190eb1dde60e4a",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\nmsg.payload = {\n    \"data\": { \"gesture_detect_enable\": \"1\", \"face_detect_enable\": \"0\", \"human_detect_enable\": \"0\", \"pets_detect_enable\": \"0\", \"humans_track_enable\": \"0\", \"pets_track_enable\": \"0\" }, \"subjectId\": subjectId };\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 960,
        "wires": [["4369257dd94aad16"]]
    },
    {
        "id": "bfd323d1cdf6bd86",
        "type": "ha-switch",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Motion Detection",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "07824d9da1478444",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 780,
        "y": 1060,
        "wires": [["8e669560099d229e"], ["3cf51b6605493cf3"]]
    },
    {
        "id": "dd0115b20dea9812",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "rules": [{ "t": "move", "p": "payload.result[0].value", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1060,
        "wires": [["bfd323d1cdf6bd86", "26e2e006f0f731e3"]]
    },
    {
        "id": "8e669560099d229e",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "payload", "tot": "msg" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "payload", "tot": "msg" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1040,
        "wires": [["50379be66fb592e5"]]
    },
    {
        "id": "3cf51b6605493cf3",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "enable", "pt": "msg", "from": "true", "fromt": "bool", "to": "payload", "tot": "msg" },
            { "t": "change", "p": "enable", "pt": "msg", "from": "false", "fromt": "bool", "to": "payload", "tot": "msg" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1080,
        "wires": [["c618ab287bde96a8"]]
    },
    {
        "id": "c618ab287bde96a8",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\nmsg.payload = {\n    \"data\": { \"14.70.85\": \"0\" }, \"options\": \"\", \"subjectId\": subjectId, \"viewId\": \"detail\" };\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1080,
        "wires": [["4369257dd94aad16"]]
    },
    {
        "id": "50379be66fb592e5",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\nmsg.payload = {\n    \"data\": { \"14.70.85\": \"1\" }, \"options\": \"\", \"subjectId\": subjectId, \"viewId\": \"detail\" };\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1040,
        "wires": [["4369257dd94aad16"]]
    },
    {
        "id": "95417dddd3ad63bf",
        "type": "ha-switch",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Suond Detection",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "a8a2d4de6dc88096",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 780,
        "y": 1140,
        "wires": [["60199902cb763572"], ["e16088619f7647b0"]]
    },
    {
        "id": "26e2e006f0f731e3",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "rules": [{ "t": "move", "p": "payload.result[3].value", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1140,
        "wires": [["95417dddd3ad63bf", "e3f8227eed28f93c"]]
    },
    {
        "id": "60199902cb763572",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "payload", "tot": "msg" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "payload", "tot": "msg" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1120,
        "wires": [["f8561e86cd2b077a"]]
    },
    {
        "id": "e16088619f7647b0",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "enable", "pt": "msg", "from": "true", "fromt": "bool", "to": "payload", "tot": "msg" },
            { "t": "change", "p": "enable", "pt": "msg", "from": "false", "fromt": "bool", "to": "payload", "tot": "msg" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1160,
        "wires": [["bc9baa1aee169adc"]]
    },
    {
        "id": "bc9baa1aee169adc",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\nmsg.payload = {\n    \"data\": { \"14.119.85\": \"0\" }, \"options\": \"\", \"subjectId\": subjectId, \"viewId\": \"detail\" };\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1160,
        "wires": [["4369257dd94aad16"]]
    },
    {
        "id": "f8561e86cd2b077a",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\nmsg.payload = {\n    \"data\": { \"14.119.85\": \"1\" }, \"options\": \"\", \"subjectId\": subjectId, \"viewId\": \"detail\" };\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1120,
        "wires": [["4369257dd94aad16"]]
    },
    {
        "id": "2994cd1e1f264adb",
        "type": "ha-switch",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Human Detection",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "bfb1fc7c0f307899",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 780,
        "y": 1220,
        "wires": [["9d514f0c8a95afee"], ["3eb73161600e4d83"]]
    },
    {
        "id": "e3f8227eed28f93c",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "rules": [{ "t": "move", "p": "payload.result[2].value", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1220,
        "wires": [["2994cd1e1f264adb"]]
    },
    {
        "id": "9d514f0c8a95afee",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "payload", "tot": "msg" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "payload", "tot": "msg" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1200,
        "wires": [["c3952627aa5aebbb"]]
    },
    {
        "id": "3eb73161600e4d83",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "enable", "pt": "msg", "from": "true", "fromt": "bool", "to": "payload", "tot": "msg" },
            { "t": "change", "p": "enable", "pt": "msg", "from": "false", "fromt": "bool", "to": "payload", "tot": "msg" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1240,
        "wires": [["33592a50a5f2bcaf"]]
    },
    {
        "id": "c3952627aa5aebbb",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\nmsg.payload = {\n    \"data\": { \"14.122.85\": \"0\", \"14.76.85\": \"0\", \"14.77.85\": \"1\" }, \"options\": \"\", \"subjectId\": subjectId, \"viewId\": \"detail\" };\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1200,
        "wires": [["4369257dd94aad16"]]
    },
    {
        "id": "33592a50a5f2bcaf",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\nmsg.payload = {\n    \"data\": { \"14.122.85\": \"0\", \"14.76.85\": \"0\", \"14.77.85\": \"0\" }, \"options\": \"\", \"subjectId\": subjectId, \"viewId\": \"detail\" };\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1240,
        "wires": [["4369257dd94aad16"]]
    },
    {
        "id": "265f20f4e80e3c48",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "Reload",
        "rules": [{ "t": "set", "p": "lastchecked", "pt": "msg", "to": "", "tot": "date" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2160,
        "y": 580,
        "wires": [["c703fc7f79bd3139"]]
    },
    {
        "id": "c703fc7f79bd3139",
        "type": "delay",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1540,
        "y": 420,
        "wires": [["2a6e832be7ef719c"]]
    },
    {
        "id": "b7907ab554172321",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = {\n    \"data\": { \"set_video\": \"0\" },\n    \"subjectId\": subjectId,\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2050,
        "y": 960,
        "wires": [["a22c4c23b9cee976"]]
    },
    {
        "id": "a22c4c23b9cee976",
        "type": "http request",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://rpc-ger.aqara.com/app/v1.0/lumi/res/write",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            { "keyType": "other", "keyValue": "Sys-Type", "valueType": "other", "valueValue": "1" },
            { "keyType": "other", "keyValue": "Content-Type", "valueType": "other", "valueValue": "application/json; charset=utf-8" }
        ],
        "x": 2270,
        "y": 960,
        "wires": [["265f20f4e80e3c48"]]
    },
    {
        "id": "f68d7c49030c757f",
        "type": "ha-button",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Sleep On",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "db45154b740b98fb",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "str" }],
        "x": 1840,
        "y": 1040,
        "wires": [["b7907ab554172321"]]
    },
    {
        "id": "864c6a4b20371ba6",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = {\n    \"data\": { \"set_video\": \"1\" },\n    \"subjectId\": subjectId,\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2050,
        "y": 1240,
        "wires": [["c4dcbc8230142ac4"]]
    },
    {
        "id": "c4dcbc8230142ac4",
        "type": "http request",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://rpc-ger.aqara.com/app/v1.0/lumi/res/write",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            { "keyType": "other", "keyValue": "Sys-Type", "valueType": "other", "valueValue": "1" },
            { "keyType": "other", "keyValue": "Content-Type", "valueType": "other", "valueValue": "application/json; charset=utf-8" }
        ],
        "x": 2290,
        "y": 1240,
        "wires": [["265f20f4e80e3c48"]]
    },
    {
        "id": "c4c34ee5c5531311",
        "type": "ha-button",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Sleep Off",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "5b0b58ad9a8d9e17",
        "outputProperties": [{ "property": "payload", "propertyType": "msg", "value": "", "valueType": "str" }],
        "x": 1840,
        "y": 1160,
        "wires": [["864c6a4b20371ba6"]]
    },
    {
        "id": "e2c76f5dbffd9133",
        "type": "config",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "properties": [
            { "p": "subjectId", "pt": "global", "to": "lumi1.54eXXXXXXXXX", "tot": "str" },
            { "p": "country", "pt": "global", "to": "it-IT", "tot": "str" },
            { "p": "token", "pt": "global", "to": "XXXXXXXXXXXXXXXXXXXXXXXXXXX", "tot": "str" },
            { "p": "appid", "pt": "global", "to": "XXXXXXXXXXXXXXXXXXXXX", "tot": "str" },
            { "p": "userid", "pt": "global", "to": "020XXXXXXXXXX.1015XXXXXXXXXXXX", "tot": "str" }
        ],
        "active": true,
        "x": 390,
        "y": 180,
        "wires": []
    },
    {
        "id": "56d7fe06b8048bbf",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "timeConvert",
        "func": "var country = global.get(\"country\");\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(country)\nvar time = new Date(lastchecked).toLocaleTimeString(country)\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1460,
        "wires": [["db95b26148cc4f52"]]
    },
    {
        "id": "6a46e5b2c6302392",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "timeConvert",
        "func": "var country = global.get(\"country\");\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(country)\nvar time = new Date(lastchecked).toLocaleTimeString(country)\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 2180,
        "wires": [["83dc81832d7858b9"]]
    },
    {
        "id": "ecace35d9c9b1fee",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "timeConvert",
        "func": "var country = global.get(\"country\");\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(country)\nvar time = new Date(lastchecked).toLocaleTimeString(country)\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 1500,
        "wires": [["f02db167318d794d"]]
    },
    {
        "id": "83dc81832d7858b9",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\nvar userid = global.get(\"userid\");\n\nmsg.payload = { \"endTime\": 6089884736598, \"size\": 1, \"startIndex\": 0, \"startTime\": 1514736000000 };\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid,\n    \"Userid\": userid,\n    \"Clientid\": \"blank\"\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 2180,
        "wires": [["d91fbee941b8bf6e"]]
    },
    {
        "id": "09df11de9d969a1d",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "timeConvert",
        "func": "var country = global.get(\"country\");\nvar timeStamp = msg.timeStamp\nvar date = new Date(timeStamp).toLocaleDateString(country)\nvar time = new Date(timeStamp).toLocaleTimeString(country)\nvar time = time.slice(0, -3);\nvar finaldate = time + \" \" + date \n\nmsg.date = date;\nmsg.time = time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 2180,
        "wires": [["da656c216af6c39c"]]
    },
    {
        "id": "98f0c3dc82c0e379",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "Convert timeStamp",
        "rules": [{ "t": "move", "p": "payload.result.resultList.0.timeStamp", "pt": "msg", "to": "timeStamp", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 2140,
        "wires": [["dbf6ba9c17537ef9"]]
    },
    { "id": "dbf6ba9c17537ef9", "type": "json", "z": "e629d6c87e56cb6d", "name": "", "property": "timeStamp", "action": "obj", "pretty": false, "x": 1270, "y": 2180, "wires": [["09df11de9d969a1d"]] },
    {
        "id": "bb6eb96a59663eb8",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid,\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 2380,
        "wires": [["42ada826abdf338e"]]
    },
    {
        "id": "f7182cc68fab5888",
        "type": "inject",
        "z": "e629d6c87e56cb6d",
        "name": "Autostart",
        "props": [{ "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "75",
        "topic": "",
        "x": 320,
        "y": 2320,
        "wires": [["94598948964b17d4"]]
    },
    { "id": "545319fd6617b653", "type": "comment", "z": "e629d6c87e56cb6d", "name": "Autostart +15sec", "info": "", "x": 340, "y": 2280, "wires": [] },
    {
        "id": "0fbf4808ed405efb",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "rules": [{ "t": "move", "p": "payload.result[6].value", "pt": "msg", "to": "enable", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 820,
        "wires": [["3c6fb582acb61116", "3632170a825be9e1"]]
    },
    {
        "id": "f8a3d971a7ee297f",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "payload", "pt": "msg", "from": "true", "fromt": "bool", "to": "payload", "tot": "msg" },
            { "t": "change", "p": "payload", "pt": "msg", "from": "false", "fromt": "bool", "to": "payload", "tot": "msg" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 800,
        "wires": [["f2e484f38974c48b"]]
    },
    {
        "id": "75e1a2c5254c01f7",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "switch 1",
        "rules": [
            { "t": "change", "p": "enable", "pt": "msg", "from": "true", "fromt": "bool", "to": "payload", "tot": "msg" },
            { "t": "change", "p": "enable", "pt": "msg", "from": "false", "fromt": "bool", "to": "payload", "tot": "msg" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 840,
        "wires": [["053dace9e2318c21"]]
    },
    {
        "id": "053dace9e2318c21",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = { \"data\": { \"14.123.85\": \"0\", \"14.76.85\": \"0\", \"14.78.85\": \"0\" }, \"subjectId\": subjectId, \"viewId\": \"detail\" };\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 840,
        "wires": [["4369257dd94aad16"]]
    },
    {
        "id": "f2e484f38974c48b",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = { \"data\": { \"14.123.85\": \"0\", \"14.76.85\": \"0\", \"14.78.85\": \"1\" }, \"subjectId\": subjectId, \"viewId\": \"detail\" };\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 800,
        "wires": [["4369257dd94aad16"]]
    },
    {
        "id": "3c6fb582acb61116",
        "type": "ha-switch",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 Pets detection",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "44ee1b14ae066acd",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            { "property": "outputType", "propertyType": "msg", "value": "state change", "valueType": "str" },
            { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
        ],
        "x": 770,
        "y": 820,
        "wires": [["f8a3d971a7ee297f"], ["75e1a2c5254c01f7"]]
    },
    { "id": "21b1de6f98803f8b", "type": "comment", "z": "e629d6c87e56cb6d", "name": "Replace subjectId on URL", "info": "Replace subjectId on URL", "x": 1030, "y": 1420, "wires": [] },
    { "id": "f80b2337c2e31454", "type": "comment", "z": "e629d6c87e56cb6d", "name": "Replace subjectId on URL", "info": "Replace subjectId on URL", "x": 1050, "y": 2340, "wires": [] },
    {
        "id": "94598948964b17d4",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "timeConvert",
        "func": "var country = global.get(\"country\");\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(country)\nvar time = new Date(lastchecked).toLocaleTimeString(country)\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 2380,
        "wires": [["bb6eb96a59663eb8"]]
    },
    {
        "id": "77e8688bfda90881",
        "type": "http request",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://rpc-ger.aqara.com/app/v1.0/lumi/res/history/log",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            { "keyType": "other", "keyValue": "Sys-Type", "valueType": "other", "valueValue": "1" },
            { "keyType": "other", "keyValue": "Content-Type", "valueType": "other", "valueValue": "application/json; charset=utf-8" }
        ],
        "x": 1010,
        "y": 1640,
        "wires": [["1972f62ba642c3c1"]]
    },
    {
        "id": "5a5651ba6016f0a6",
        "type": "ha-sensor",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 log",
        "entityConfig": "8530e09aee44edab",
        "version": 0,
        "state": "payload.result.data.0.resourceId",
        "stateType": "msg",
        "attributes": [
            { "property": "resourceId", "value": "payload.result.data.0.resourceId", "valueType": "msg" },
            { "property": "subjectId", "value": "payload.result.data.0.subjectId", "valueType": "msg" },
            { "property": "value", "value": "payload.result.data.0.value", "valueType": "msg" },
            { "property": "date", "value": "date", "valueType": "msg" },
            { "property": "time", "value": "time", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 1880,
        "y": 1720,
        "wires": [["2cd0efe8cf7ce648"]]
    },
    {
        "id": "1a7fe6f60d808b48",
        "type": "ha-button",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 log",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "22de18ae6f00ab00",
        "outputProperties": [{ "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" }],
        "x": 340,
        "y": 1640,
        "wires": [["7ac49bf3be960191"]]
    },
    {
        "id": "1972f62ba642c3c1",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "change resourceId",
        "rules": [
            { "t": "change", "p": "payload.result.data.0.resourceId", "pt": "msg", "from": "13.95.85", "fromt": "str", "to": "Face Detection", "tot": "str" },
            { "t": "change", "p": "payload.result.data.0.resourceId", "pt": "msg", "from": "13.97.85", "fromt": "str", "to": "Human Detection", "tot": "str" },
            { "t": "change", "p": "payload.result.data.0.resourceId", "pt": "msg", "from": "13.98.85", "fromt": "str", "to": "Cat and Dog Detection", "tot": "str" },
            { "t": "change", "p": "payload.result.data.0.resourceId", "pt": "msg", "from": "3.21.85", "fromt": "str", "to": "Motion Detection", "tot": "str" },
            { "t": "change", "p": "payload.result.data.0.resourceId", "pt": "msg", "from": "3.22.85", "fromt": "str", "to": "Abnormal Suond Detecion", "tot": "str" },
            { "t": "change", "p": "payload.result.data.0.resourceId", "pt": "msg", "from": "off", "fromt": "str", "to": "Gesture Detecion", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 1640,
        "wires": [["5b6e4dfc89646564"]]
    },
    {
        "id": "88f9579eeafbdd17",
        "type": "inject",
        "z": "e629d6c87e56cb6d",
        "name": "Autostart",
        "props": [{ "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "45",
        "topic": "",
        "x": 340,
        "y": 1580,
        "wires": [["7ac49bf3be960191"]]
    },
    { "id": "160c56942cb1f1d3", "type": "comment", "z": "e629d6c87e56cb6d", "name": "Autostart +15sec", "info": "", "x": 360, "y": 1540, "wires": [] },
    {
        "id": "5b6e4dfc89646564",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "Convert timeStamp",
        "rules": [{ "t": "move", "p": "msg.payload.result.data.0.timeStamp", "pt": "msg", "to": "timeStamp", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 1680,
        "wires": [["57bfddb34adaf354"]]
    },
    { "id": "57bfddb34adaf354", "type": "json", "z": "e629d6c87e56cb6d", "name": "", "property": "timeStamp", "action": "obj", "pretty": false, "x": 1370, "y": 1720, "wires": [["b1b9233c44de5787"]] },
    {
        "id": "7ac49bf3be960191",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "timeConvert",
        "func": "var country = global.get(\"country\");\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(country)\nvar time = new Date(lastchecked).toLocaleTimeString(country)\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1640,
        "wires": [["808374d4ed6fe83f"]]
    },
    {
        "id": "b1b9233c44de5787",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "timeConvert",
        "func": "var country = global.get(\"country\"); \nvar timeStamp = msg.timeStamp\nvar date = new Date(timeStamp).toLocaleDateString(country)\nvar time = new Date(timeStamp).toLocaleTimeString(country)\nvar finaldate = time + \" \" + date\n\nmsg.date = date;\nmsg.time = time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 1720,
        "wires": [["5a5651ba6016f0a6"]]
    },
    {
        "id": "808374d4ed6fe83f",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = {\n    \"resourceIds\": [\"3.22.85\", \"8.0.2045\", \"14.74.85\", \"3.21.85\", \"13.97.85\", \"13.98.85\", \"14.122.85\", \"14.123.85\", \"13.95.85\", \"13.96.85\", \"14.121.85\"], \"scanId\": \"\", \"size\": 1, \"startTime\": 1514736000000, \"subjectId\": subjectId\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1640,
        "wires": [["77e8688bfda90881"]]
    },
    {
        "id": "8422c419750c3f6c",
        "type": "http request",
        "z": "e629d6c87e56cb6d",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://rpc-ger.aqara.com/app/v1.0/lumi/res/history/log",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            { "keyType": "other", "keyValue": "Sys-Type", "valueType": "other", "valueValue": "1" },
            { "keyType": "other", "keyValue": "Content-Type", "valueType": "other", "valueValue": "application/json; charset=utf-8" }
        ],
        "x": 1010,
        "y": 1840,
        "wires": [["a41b0ce8488b1c10"]]
    },
    {
        "id": "386daa2ff515df83",
        "type": "ha-sensor",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 log last1",
        "entityConfig": "4e91ad4563d1aa9f",
        "version": 0,
        "state": "payload.result.data.0.resourceId",
        "stateType": "msg",
        "attributes": [
            { "property": "resourceId", "value": "payload.result.data.0.resourceId", "valueType": "msg" },
            { "property": "subjectId", "value": "payload.result.data.0.subjectId", "valueType": "msg" },
            { "property": "value", "value": "payload.result.data.0.value", "valueType": "msg" },
            { "property": "date", "value": "date", "valueType": "msg" },
            { "property": "time", "value": "time", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2440,
        "y": 1840,
        "wires": [[]]
    },
    {
        "id": "0eed9afab2d2e6dd",
        "type": "ha-button",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 log last",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "91572285a170059e",
        "outputProperties": [{ "property": "lastchecked", "propertyType": "msg", "value": "", "valueType": "date" }],
        "x": 350,
        "y": 1840,
        "wires": [["e0420a05c1b5d5d9"]]
    },
    {
        "id": "d5afd8c7284f6561",
        "type": "inject",
        "z": "e629d6c87e56cb6d",
        "name": "Autostart",
        "props": [{ "p": "lastchecked", "v": "", "vt": "date" }],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "57",
        "topic": "",
        "x": 340,
        "y": 1780,
        "wires": [["e0420a05c1b5d5d9"]]
    },
    { "id": "cd7d5c12d02a2b12", "type": "comment", "z": "e629d6c87e56cb6d", "name": "Autostart +12sec", "info": "", "x": 360, "y": 1740, "wires": [] },
    {
        "id": "da9ddd866ccb578c",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "Convert timeStamp",
        "rules": [{ "t": "move", "p": "msg.payload.result.data.0.timeStamp", "pt": "msg", "to": "timeStamp1", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 1920,
        "wires": [["6e0f65ad8b6f3593"]]
    },
    { "id": "58d853b9b4483044", "type": "json", "z": "e629d6c87e56cb6d", "name": "", "property": "timeStamp1", "action": "obj", "pretty": false, "x": 1990, "y": 1860, "wires": [["cd5b0191645ce7a7"]] },
    {
        "id": "e0420a05c1b5d5d9",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "timeConvert",
        "func": "var country = global.get(\"country\");\nvar lastchecked = msg.lastchecked\nvar date = new Date(lastchecked).toLocaleDateString(country)\nvar time = new Date(lastchecked).toLocaleTimeString(country)\nvar finaldate = time + \" \" + date \n\nmsg.lastcheck = finaldate\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1840,
        "wires": [["2f4a42b4442da74f"]]
    },
    {
        "id": "f5e694c60dccf21c",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "timeConvert",
        "func": "var country = global.get(\"country\"); \nvar timeStamp = msg.timeStamp3\nvar date = new Date(timeStamp).toLocaleDateString(country)\nvar time = new Date(timeStamp).toLocaleTimeString(country)\nvar time = time.slice(0, -3);\nvar finaldate = time + \" \" + date\n\nmsg.date = date;\nmsg.time = time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2150,
        "y": 1940,
        "wires": [["e67caa7f92827fe0"]]
    },
    {
        "id": "2f4a42b4442da74f",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "parameter",
        "func": "var subjectId = global.get(\"subjectId\");\nvar token = global.get(\"token\");\nvar appid = global.get(\"appid\");\n\nmsg.payload = {\n    \"resourceIds\": [\"3.22.85\", \"8.0.2045\", \"14.74.85\", \"3.21.85\", \"13.97.85\", \"13.98.85\", \"14.122.85\", \"14.123.85\", \"13.95.85\", \"13.96.85\", \"14.121.85\"], \"scanId\": \"\", \"size\": 3, \"startTime\": 1514736000000, \"subjectId\": subjectId\n};\n\nmsg.headers = {\n    \"Token\": token,\n    \"Appid\": appid\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1840,
        "wires": [["8422c419750c3f6c"]]
    },
    {
        "id": "6d61cfb69b657b89",
        "type": "ha-sensor",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 log last2",
        "entityConfig": "f154bddaf91a00e8",
        "version": 0,
        "state": "payload.result.data.1.resourceId",
        "stateType": "msg",
        "attributes": [
            { "property": "resourceId", "value": "payload.result.data.1.resourceId", "valueType": "msg" },
            { "property": "subjectId", "value": "payload.result.data.1.subjectId", "valueType": "msg" },
            { "property": "value", "value": "payload.result.data.1.value", "valueType": "msg" },
            { "property": "date", "value": "date", "valueType": "msg" },
            { "property": "time", "value": "time", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2440,
        "y": 1900,
        "wires": [[]]
    },
    {
        "id": "e67caa7f92827fe0",
        "type": "ha-sensor",
        "z": "e629d6c87e56cb6d",
        "name": "Camera G3 log last3",
        "entityConfig": "92bef7a4e6dffb5d",
        "version": 0,
        "state": "payload.result.data.2.resourceId",
        "stateType": "msg",
        "attributes": [
            { "property": "resourceId", "value": "payload.result.data.2.resourceId", "valueType": "msg" },
            { "property": "subjectId", "value": "payload.result.data.2.subjectId", "valueType": "msg" },
            { "property": "value", "value": "payload.result.data.2.value", "valueType": "msg" },
            { "property": "date", "value": "date", "valueType": "msg" },
            { "property": "time", "value": "time", "valueType": "msg" },
            { "property": "Last checked", "value": "lastcheck", "valueType": "msg" }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 2440,
        "y": 1960,
        "wires": [[]]
    },
    {
        "id": "924bf829a6e62030",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "change resourceId",
        "rules": [
            { "t": "change", "p": "payload.result.data.2.resourceId", "pt": "msg", "from": "13.95.85", "fromt": "str", "to": "volto", "tot": "str" },
            { "t": "change", "p": "payload.result.data.2.resourceId", "pt": "msg", "from": "13.97.85", "fromt": "str", "to": "umano", "tot": "str" },
            { "t": "change", "p": "payload.result.data.2.resourceId", "pt": "msg", "from": "13.98.85", "fromt": "str", "to": "cane/gatto", "tot": "str" },
            { "t": "change", "p": "payload.result.data.2.resourceId", "pt": "msg", "from": "3.21.85", "fromt": "str", "to": "movimento", "tot": "str" },
            { "t": "change", "p": "payload.result.data.2.resourceId", "pt": "msg", "from": "3.22.85", "fromt": "str", "to": "suono", "tot": "str" },
            { "t": "change", "p": "payload.result.data.2.resourceId", "pt": "msg", "from": "off", "fromt": "str", "to": "gesto", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 1880,
        "wires": [["da9ddd866ccb578c"]]
    },
    {
        "id": "6e0f65ad8b6f3593",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "Convert timeStamp",
        "rules": [{ "t": "move", "p": "msg.payload.result.data.1.timeStamp", "pt": "msg", "to": "timeStamp2", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 1960,
        "wires": [["ebc96ecdda85ff1b"]]
    },
    {
        "id": "ebc96ecdda85ff1b",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "Convert timeStamp",
        "rules": [{ "t": "move", "p": "msg.payload.result.data.2.timeStamp", "pt": "msg", "to": "timeStamp3", "tot": "msg" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 2000,
        "wires": [["d7089e858161aa42"]]
    },
    {
        "id": "e143d529f34bcb8b",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "timeConvert",
        "func": "var country = global.get(\"country\"); \nvar timeStamp = msg.timeStamp2\nvar date = new Date(timeStamp).toLocaleDateString(country)\nvar time = new Date(timeStamp).toLocaleTimeString(country)\nvar time = time.slice(0, -3);\nvar finaldate = time + \" \" + date\n\nmsg.date = date;\nmsg.time = time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2150,
        "y": 1900,
        "wires": [["6d61cfb69b657b89"]]
    },
    {
        "id": "cd5b0191645ce7a7",
        "type": "function",
        "z": "e629d6c87e56cb6d",
        "name": "timeConvert",
        "func": "var country = global.get(\"country\"); \nvar timeStamp = msg.timeStamp1\nvar date = new Date(timeStamp).toLocaleDateString(country)\nvar time = new Date(timeStamp).toLocaleTimeString(country)\nvar time = time.slice(0, -3);\nvar finaldate = time + \" \" + date\n\nmsg.date = date;\nmsg.time = time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2150,
        "y": 1860,
        "wires": [["386daa2ff515df83"]]
    },
    { "id": "e0a499372a259e07", "type": "json", "z": "e629d6c87e56cb6d", "name": "", "property": "timeStamp2", "action": "obj", "pretty": false, "x": 1990, "y": 1900, "wires": [["e143d529f34bcb8b"]] },
    { "id": "e7c81e2c7262d544", "type": "json", "z": "e629d6c87e56cb6d", "name": "", "property": "timeStamp3", "action": "obj", "pretty": false, "x": 1990, "y": 1940, "wires": [["f5e694c60dccf21c"]] },
    {
        "id": "795f28575246dd03",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "change resourceId",
        "rules": [
            { "t": "change", "p": "payload.result.data.1.resourceId", "pt": "msg", "from": "13.95.85", "fromt": "str", "to": "volto", "tot": "str" },
            { "t": "change", "p": "payload.result.data.1.resourceId", "pt": "msg", "from": "13.97.85", "fromt": "str", "to": "umano", "tot": "str" },
            { "t": "change", "p": "payload.result.data.1.resourceId", "pt": "msg", "from": "13.98.85", "fromt": "str", "to": "cane/gatto", "tot": "str" },
            { "t": "change", "p": "payload.result.data.1.resourceId", "pt": "msg", "from": "3.21.85", "fromt": "str", "to": "movimento", "tot": "str" },
            { "t": "change", "p": "payload.result.data.1.resourceId", "pt": "msg", "from": "3.22.85", "fromt": "str", "to": "suono", "tot": "str" },
            { "t": "change", "p": "payload.result.data.1.resourceId", "pt": "msg", "from": "off", "fromt": "str", "to": "gesto", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 1840,
        "wires": [["924bf829a6e62030"]]
    },
    {
        "id": "a41b0ce8488b1c10",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "change resourceId",
        "rules": [
            { "t": "change", "p": "payload.result.data.0.resourceId", "pt": "msg", "from": "13.95.85", "fromt": "str", "to": "volto", "tot": "str" },
            { "t": "change", "p": "payload.result.data.0.resourceId", "pt": "msg", "from": "13.97.85", "fromt": "str", "to": "umano", "tot": "str" },
            { "t": "change", "p": "payload.result.data.0.resourceId", "pt": "msg", "from": "13.98.85", "fromt": "str", "to": "cane/gatto", "tot": "str" },
            { "t": "change", "p": "payload.result.data.0.resourceId", "pt": "msg", "from": "3.21.85", "fromt": "str", "to": "movimento", "tot": "str" },
            { "t": "change", "p": "payload.result.data.0.resourceId", "pt": "msg", "from": "3.22.85", "fromt": "str", "to": "suono", "tot": "str" },
            { "t": "change", "p": "payload.result.data.0.resourceId", "pt": "msg", "from": "off", "fromt": "str", "to": "gesto", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 1800,
        "wires": [["795f28575246dd03"]]
    },
    {
        "id": "d7089e858161aa42",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "change value Davide",
        "rules": [
            { "t": "change", "p": "payload.result.data.0.value", "pt": "msg", "from": "1017310886146322432", "fromt": "str", "to": "Davide", "tot": "str" },
            { "t": "change", "p": "payload.result.data.0.value", "pt": "msg", "from": "1017303461376696320", "fromt": "str", "to": "Davide", "tot": "str" },
            { "t": "change", "p": "payload.result.data.1.value", "pt": "msg", "from": "1017310886146322432", "fromt": "str", "to": "Davide", "tot": "str" },
            { "t": "change", "p": "payload.result.data.1.value", "pt": "msg", "from": "1017303461376696320", "fromt": "str", "to": "Davide", "tot": "str" },
            { "t": "change", "p": "payload.result.data.2.value", "pt": "msg", "from": "1017310886146322432", "fromt": "str", "to": "Davide", "tot": "str" },
            { "t": "change", "p": "payload.result.data.2.value", "pt": "msg", "from": "1017303461376696320", "fromt": "str", "to": "Davide", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1726.6666259765625,
        "y": 1828.3333740234375,
        "wires": [["31cf7e2d134d9a7c"]]
    },
    {
        "id": "31cf7e2d134d9a7c",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "change value Marina",
        "rules": [
            { "t": "change", "p": "payload.result.data.0.value", "pt": "msg", "from": "1021619634684960768", "fromt": "str", "to": "Marina", "tot": "str" },
            { "t": "change", "p": "payload.result.data.0.value", "pt": "msg", "from": "1021621410192564224", "fromt": "str", "to": "Marina", "tot": "str" },
            { "t": "change", "p": "payload.result.data.1.value", "pt": "msg", "from": "1021619634684960768", "fromt": "str", "to": "Marina", "tot": "str" },
            { "t": "change", "p": "payload.result.data.1.value", "pt": "msg", "from": "1021621410192564224", "fromt": "str", "to": "Marina", "tot": "str" },
            { "t": "change", "p": "payload.result.data.2.value", "pt": "msg", "from": "1021619634684960768", "fromt": "str", "to": "Marina", "tot": "str" },
            { "t": "change", "p": "payload.result.data.2.value", "pt": "msg", "from": "1021621410192564224", "fromt": "str", "to": "Marina", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1720,
        "y": 1880,
        "wires": [["dffe105577c6fd7b"]]
    },
    {
        "id": "dffe105577c6fd7b",
        "type": "change",
        "z": "e629d6c87e56cb6d",
        "name": "change value Maurizio",
        "rules": [
            { "t": "change", "p": "payload.result.data.0.value", "pt": "msg", "from": "1020511300976254976", "fromt": "str", "to": "Maurizio", "tot": "str" },
            { "t": "change", "p": "payload.result.data.0.value", "pt": "msg", "from": "1020511065986179072", "fromt": "str", "to": "Maurizio", "tot": "str" },
            { "t": "change", "p": "payload.result.data.0.value", "pt": "msg", "from": "1020507892307996672", "fromt": "str", "to": "Maurizio", "tot": "str" },
            { "t": "change", "p": "payload.result.data.1.value", "pt": "msg", "from": "1020511300976254976", "fromt": "str", "to": "Maurizio", "tot": "str" },
            { "t": "change", "p": "payload.result.data.1.value", "pt": "msg", "from": "1020511065986179072", "fromt": "str", "to": "Maurizio", "tot": "str" },
            { "t": "change", "p": "payload.result.data.1.value", "pt": "msg", "from": "1020507892307996672", "fromt": "str", "to": "Maurizio", "tot": "str" },
            { "t": "change", "p": "payload.result.data.2.value", "pt": "msg", "from": "1020511300976254976", "fromt": "str", "to": "Maurizio", "tot": "str" },
            { "t": "change", "p": "payload.result.data.2.value", "pt": "msg", "from": "1020511065986179072", "fromt": "str", "to": "Maurizio", "tot": "str" },
            { "t": "change", "p": "payload.result.data.2.value", "pt": "msg", "from": "1020507892307996672", "fromt": "str", "to": "Maurizio", "tot": "str" }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1720,
        "y": 1940,
        "wires": [["58d853b9b4483044", "e0a499372a259e07", "e7c81e2c7262d544"]]
    },
    { "id": "f02db167318d794d", "type": "json", "z": "e629d6c87e56cb6d", "name": "", "property": "payload.result.data.71.value", "action": "obj", "pretty": false, "x": 1670, "y": 1500, "wires": [["87d86b53120c6bfb"]] },
    { "id": "87d86b53120c6bfb", "type": "json", "z": "e629d6c87e56cb6d", "name": "", "property": "payload.result.data.47.value", "action": "obj", "pretty": false, "x": 1670, "y": 1560, "wires": [["cdf714f7bb08944c"]] },
    {
        "id": "2cd0efe8cf7ce648",
        "type": "debug",
        "z": "e629d6c87e56cb6d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1940,
        "y": 1660,
        "wires": []
    },
    {
        "id": "caa960a76b56a309",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 config",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Camera G3 config" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "61fb5dbeecdafb3d",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Info",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Info" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "35bd23c22b99e80e",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Info",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Info" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "c01953391972f43b",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 config",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Camera G3 config" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "c7d2044db2224e1d",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Aqara Smart log Autom",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Aqara Smart log Autom" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "f095fa1365f4b174",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Face Know",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Face Know" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "f06687f218d98283",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Aqara Smart log Autom",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Aqara Smart log Autom" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "dd4077143e565cbe",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Face Know",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Face Know" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "b701ed2f018edd62",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 PTZ left",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Camera G3 PTZ left" },
            { "property": "icon", "value": "mdi:arrow-left" },
            { "property": "entity_category", "value": "config" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "70aa54156c09f0e6",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 PTZ right",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Camera G3 PTZ right" },
            { "property": "icon", "value": "mdi:arrow-right" },
            { "property": "entity_category", "value": "config" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "5442975eabeb27d2",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 PTZ up",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Camera G3 PTZ up" },
            { "property": "icon", "value": "mdi:arrow-up" },
            { "property": "entity_category", "value": "config" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "358e648e3998b2a4",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 PTZ down",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Camera G3 PTZ down" },
            { "property": "icon", "value": "mdi:arrow-down" },
            { "property": "entity_category", "value": "config" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "9df37a3c91d4cb39",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Horizontal",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Horizontal" },
            { "property": "icon", "value": "mdi:arrow-expand-down" },
            { "property": "entity_category", "value": "config" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "0cde09574fa445fe",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Upside",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Upside" },
            { "property": "icon", "value": "mdi:arrow-expand-down" },
            { "property": "entity_category", "value": "config" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "dcbfd635f7c47e23",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Night Video Auto",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Night Video Auto" },
            { "property": "icon", "value": "mdi:lightbulb-auto-outline" },
            { "property": "entity_category", "value": "config" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "f65571ba66813e5f",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Night Video Off",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Night Video Off" },
            { "property": "icon", "value": "mdi:lightbulb-off" },
            { "property": "entity_category", "value": "config" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "e915442e641c1695",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Night Video On",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Night Video On" },
            { "property": "icon", "value": "mdi:lightbulb-night" },
            { "property": "entity_category", "value": "config" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "bc123dc7400b4be5",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 video active",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Camera G3 video active" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "switch" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "535ebd9108bc4d7a",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Human tracking",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Human tracking" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "switch" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "b5bced07e02e16d2",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Pets tracking",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Pets tracking" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "switch" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "d65e5081a17f4f87",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Face Detection",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Face Detection" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "switch" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "9330d3ffce2f7e5d",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Gesture Identification",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Gesture Identification" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "switch" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "07824d9da1478444",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Motion Detection",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Motion Detection" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "switch" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "a8a2d4de6dc88096",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Suond Detection",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Suond Detection" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "switch" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "bfb1fc7c0f307899",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Human Detection",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Human Detection" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "switch" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "db45154b740b98fb",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Sleep On",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Sleep On" },
            { "property": "icon", "value": "mdi:cctv-off" },
            { "property": "entity_category", "value": "config" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "5b0b58ad9a8d9e17",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Sleep Off",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Sleep Off" },
            { "property": "icon", "value": "mdi:cctv" },
            { "property": "entity_category", "value": "config" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "44ee1b14ae066acd",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 Pets detection",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            { "property": "name", "value": "Camera G3 Pets detection" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "switch" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "8530e09aee44edab",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 log",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Camera G3 log" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "22de18ae6f00ab00",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 log",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Camera G3 log" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "device_class", "value": "update" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "4e91ad4563d1aa9f",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 log last1",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Camera G3 log last1" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "91572285a170059e",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 log last",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            { "property": "name", "value": "Camera G3 log last" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "f154bddaf91a00e8",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 log last2",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Camera G3 log last2" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "92bef7a4e6dffb5d",
        "type": "ha-entity-config",
        "server": "2b77899a.ed9b86",
        "deviceConfig": "",
        "name": "Camera G3 log last3",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            { "property": "name", "value": "Camera G3 log last3" },
            { "property": "icon", "value": "" },
            { "property": "entity_category", "value": "" },
            { "property": "entity_picture", "value": "" },
            { "property": "device_class", "value": "" },
            { "property": "unit_of_measurement", "value": "" },
            { "property": "state_class", "value": "" }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "2b77899a.ed9b86",
        "type": "server",
        "name": "homeassistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    }
]
